<p>
  <b>Id:</b>
  <%=h @limit.id %>
</p>

<p>
  <b>Group:</b>
  <%=h @limit.Group_id %>
</p>

<p>
  <b>Entity:</b>
  <%=h @limit.Entity_id %>
</p>

<p>
  <b>Source:</b>
  <%=h @limit.Source_id %>
</p>

<p>
  <b>Downloaddate:</b>
  <%=h @limit.DownloadDate %>
</p>

<p>
  <b>Record creation date:</b>
  <%=h @limit.Record_Creation_Date %>
</p>

<p>
  <b>Record creator:</b>
  <%=h @limit.Record_Creator %>
</p>

<p>
  <b>Record application:</b>
  <%=h @limit.Record_Application %>
</p>

<p>
  <b>Value month:</b>
  <%=h @limit.Value_Month %>
</p>

<p>
  <b>Value date:</b>
  <%=h @limit.Value_Date %>
</p>

<p>
  <b>Executing date:</b>
  <%=h @limit.Executing_Date %>
</p>

<p>
  <b>Type of record:</b>
  <%=h @limit.Type_of_record %>
</p>

<p>
  <b>Bank:</b>
  <%=h @limit.Bank_id %>
</p>

<p>
  <b>Branch:</b>
  <%=h @limit.Branch_id %>
</p>

<p>
  <b>Limit nr:</b>
  <%=h @limit.Limit_nr %>
</p>

<p>
  <b>Legacy acc subtype code:</b>
  <%=h @limit.Legacy_Acc_Subtype_Code %>
</p>

<p>
  <b>Account:</b>
  <%=h @limit.Account_id %>
</p>

<p>
  <b>Count cif:</b>
  <%=h @limit.Count_CIF %>
</p>

<p>
  <b>Limit code:</b>
  <%=h @limit.Limit_code %>
</p>

<p>
  <b>Limit labeling:</b>
  <%=h @limit.Limit_Labeling %>
</p>

<p>
  <b>Limit nom:</b>
  <%=h @limit.Limit_Nom %>
</p>

<p>
  <b>Limit curr:</b>
  <%=h @limit.Limit_Curr %>
</p>

<p>
  <b>Limit local currency:</b>
  <%=h @limit.Limit_Local_Currency %>
</p>

<p>
  <b>Limit local amount:</b>
  <%=h @limit.Limit_Local_Amount %>
</p>

<p>
  <b>Limit fx:</b>
  <%=h @limit.Limit_FX %>
</p>

<p>
  <b>Limit nis:</b>
  <%=h @limit.Limit_NIS %>
</p>

<p>
  <b>Limit start:</b>
  <%=h @limit.Limit_Start %>
</p>

<p>
  <b>Limit end:</b>
  <%=h @limit.Limit_End %>
</p>

<p>
  <b>Limit tenure:</b>
  <%=h @limit.Limit_Tenure %>
</p>

<p>
  <b>Limit comm:</b>
  <%=h @limit.Limit_Comm %>
</p>

<p>
  <b>Limit comm resign:</b>
  <%=h @limit.Limit_Comm_Resign %>
</p>

<p>
  <b>Limit ref date:</b>
  <%=h @limit.Limit_Ref_Date %>
</p>

<p>
  <b>Used credit limit amt:</b>
  <%=h @limit.Used_Credit_Limit_Amt %>
</p>

<p>
  <b>Used credit limit amt local:</b>
  <%=h @limit.Used_Credit_Limit_Amt_Local %>
</p>

<p>
  <b>Used credit limit amt nis:</b>
  <%=h @limit.Used_Credit_Limit_Amt_NIS %>
</p>

<p>
  <b>Unused credit limit amt:</b>
  <%=h @limit.UnUsed_Credit_Limit_Amt %>
</p>

<p>
  <b>Unused credit limit amt nis:</b>
  <%=h @limit.UnUsed_Credit_Limit_Amt_NIS %>
</p>

<p>
  <b>Unused credit limit amt local:</b>
  <%=h @limit.UnUsed_Credit_Limit_Amt_Local %>
</p>

<p>
  <b>Executing bank id:</b>
  <%=h @limit.Executing_Bank_Id %>
</p>

<p>
  <b>Trans segment code:</b>
  <%=h @limit.Trans_Segment_Code %>
</p>

<p>
  <b>Trans segment det:</b>
  <%=h @limit.Trans_Segment_Det %>
</p>

<p>
  <b>Trans sub segment code:</b>
  <%=h @limit.Trans_Sub_Segment_code %>
</p>

<p>
  <b>Trans sub segment det:</b>
  <%=h @limit.Trans_Sub_Segment_Det %>
</p>

<p>
  <b>Trans marking past due code:</b>
  <%=h @limit.Trans_Marking_Past_Due_Code %>
</p>

<p>
  <b>Trans marking past due det:</b>
  <%=h @limit.Trans_Marking_Past_Due_Det %>
</p>

<p>
  <b>Trans markings other code:</b>
  <%=h @limit.Trans_Markings_Other_code %>
</p>

<p>
  <b>Trans markings other det:</b>
  <%=h @limit.Trans_Markings_Other_Det %>
</p>

<p>
  <b>Executing branch id:</b>
  <%=h @limit.Executing_Branch_Id %>
</p>


<%= link_to 'Edit', edit_limit_path(@limit) %> |
<%= link_to 'Back', limits_path %>