<% form_for @menu do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :htmllink %><br />
    <%= f.text_field :htmllink %>
  </p>
  <p>
    <%= f.label :target %><br />
    <%= f.text_field :target %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
