<!-- This is the breadcrumb part -->
<% content_for :breadcrumb do %>

    <ul id="crumbs">
      <li><a href="/">Homes</a></li>
      <li><%= link_to  "Account Plan" , account_plans_path %></li>
      <li>You are editing an account</li>
     </ul>
<br/>

<% end %>

<% content_for :article1 do %>

<h2 class="art-postheader">
  Editing account plan
</h2>

<div class="art-postcontent">
    <!-- article-content -->

<% form_for(@account_plan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :account_id %><br />
    <%= f.text_field :account_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_field :comments, "rows" => 3, "cols" => 35  %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @account_plan %> |
<%= link_to 'Back', account_plans_path %>

        <blockquote>
            <p>
                &#8220;This is where you can edit and modify your account plan.&#8221;
                <br />
                You can change the name for example !
            </p>
        </blockquote>
      <br />

    <!-- /article-content -->
</div>


<% end %>