<!-- This is the breadcrumb part -->

<ul id="crumbs">
 <li><a href="#">Homes</a></li>
 <li><%= link_to  "Account Plan" , account_plans_path %></li>
 <li>You are on the list of accounts page</li>
</ul>

<br/>


<!-- This is the list part -->

<div id="page_wrapper">
		<div id="table_wrapper">
          <h1>Listing account plan</h1>

          <!-- This is the live filter input field part -->

          <input class="filter" name="livefilter" type="text" value="" />

<br/>

<table class="live_filter">
  <tr>
    <th>Account</th>
    <th>Name</th>
    <th>Comments</th>
    <th>Order</th>
  </tr>

<% @account_plans.each do |account_plan| %>
  <tr>
    <td><%=h account_plan.account_id %></td>
    <td><%=h account_plan.name %></td>
    <td><%=h account_plan.comments %></td>
    <td><%=h account_plan.position %></td>
    <td><%= link_to 'Show', account_plan %></td>
    <td><%= link_to 'Edit', edit_account_plan_path(account_plan) %></td>
    <td><%= link_to 'Destroy', account_plan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New account_plan', new_account_plan_path %>

    </div>

 </div>


<!-- This is the javascript part -->

<%= render :partial => "shared/livefilter" %>

