<h1>New account_plan</h1>

<% form_for(@account_plan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :account_id %><br />
    <!--%= f.text_field :account_id %--!>
    <%= f.text_field :auto_account_plan_account_id, :class => 'autocomplete', 'data-autocomplete-url'=>autocomplete_for_account_plan_account_id_path %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_field :comments, "rows" => 3, "cols" => 35  %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', account_plans_path %>