<% form_for tasklist do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :scope %><br />
    <%= f.text_field :scope %>
  </p>
  <p>
    <%= f.label :genre %><br />
    <!--%= select_tag("tasklist[genre]", options_for_select(["Please select","Production","New Feature","New Control","Bug","Nice to have","New Specifications","Enhancements","Other"], :disabled => "Please select")) %-->
    <!--%= select_tag :genre , options_for_tasklist_genre(params[:genre]) %-->
    <%= f.collection_select(:genre, Tasklist.genre_name_options, :first, :last) %>
  </p>
  <p>
    <%= f.label :project %><br />
    <%= f.collection_select(:project_id, Project.all, :id, :title,  {:prompt => true}) %>

  </p>
  <p>
    <%= f.label :assigned_to %><br />
    <%= f.text_field :assigned_to %><br />

    <!--%= collection_select(:assigned_to, User.all, :id, :shortname, {:prompt => true}) %-->
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :due_date %><br />
    <!--%= f.date_select :due_date % # replaced by javascript calendar !!! --> 
    <%= f.text_field :due_date %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <!--%= select_tag("tasklist[priority]", options_for_select(["Please select","Low","Medium","High","Urgent"], :disabled => "Please select")) %-->
    <%= f.collection_select(:priority, Tasklist.priority_name_options, :first, :last) %>
    <!--%= select_tag("tasklist[priority]", options_for_select(["Please select","Low","Medium","High","Urgent"], :disabled => "Please select")) %-->
  </p>

  <p>
    <%= f.label :status %><br />
    <!--%= select_tag("tasklist[status]", options_for_select(["Please select","To start","In progress","Done","Discarded","Reopened","To review"], :disabled => "Please select")) %-->
    <!--%= select_tag :status , options_for_tasklist_status(params[:status]) %-->
    <%= f.collection_select(:status, Tasklist.status_name_options, :first, :last) %>
  </p>
<p><%= f.submit "Submit" %></p>
<% end %>
