<p>
  <strong>Name:</strong>
  <%=h @tasklist.name %>
</p>
<p>
  <strong>Scope:</strong>
  <%=h @tasklist.scope %>
</p>
<p>
  <strong>Type:</strong>
  <%=h @tasklist.genre_name %>
</p>
<p>
  <strong>Project:</strong>
  <%=h @tasklist.project.title %>
</p>
<p>
  <strong>Assigned To:</strong>
  <%=h @tasklist.assigned_to  %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @tasklist.description %>
</p>
<p>
  <strong>Due Date:</strong>
  <%=h @tasklist.due_date %>
</p>
<p>
 <strong>Priority:</strong>
 <%=h  @tasklist.priority_name %>
</p>

<p>
  <strong>Status:</strong>
  <%=h @tasklist.status_name %>
</p>

<p>
  <%= link_to "Edit", edit_tasklist_path(@tasklist) %> |
  <%= link_to "Destroy", @tasklist, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", tasklists_path %>
</p>

   <hr />

<h4>Comments</h4>

     <ol class="comments">
       <% for comment in @tasklist.comments %>
    <!--p class="commenttext"--> <!--%= comment.body %> </p-->
    <!--p class="fineprint"--> <!--Created by user test on --><!--%=h comment.created_at.strftime("%e %B, %Y") %--> <!--/p-->            -

           <li>
				<ul class="meta">
					<li class="image"><img src="http://www.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=48" alt="Author's name" /></li>
					<li class="author"><a href="/users/<%=h comment.user.id %>"><%=h comment.user.name %></a></li>
					<li class="date">posted on <%=h comment.created_at.strftime("%e %B, %Y") %></li>

				</ul>
				<div class="body"> <%= comment.body %> </div>
			</li>

        <% end %>
      </ol>

  <%= form_tag :action => "comment", :id => @tasklist %>
    <%= text_area "comment", "body", :size => "100x8" %><br />
    <%= submit_tag "Comment" %>
  </form>
