<p>
  <b>Clraci:</b>
  <%=h @fdbcli.CLRACI %>
</p>

<p>
  <b>Cletat:</b>
  <%=h @fdbcli.CLETAT %>
</p>

<p>
  <b>Cldtou:</b>
  <%=h @fdbcli.CLDTOU %>
</p>

<p>
  <b>Cldtmu:</b>
  <%=h @fdbcli.CLDTMU %>
</p>

<p>
  <b>Cldtan:</b>
  <%=h @fdbcli.CLDTAN %>
</p>

<p>
  <b>Clnbrm:</b>
  <%=h @fdbcli.CLNBRM %>
</p>

<p>
  <b>Cloprn:</b>
  <%=h @fdbcli.CLOPRN %>
</p>

<p>
  <b>Clgrpe:</b>
  <%=h @fdbcli.CLGRPE %>
</p>

<p>
  <b>Clagnt:</b>
  <%=h @fdbcli.CLAGNT %>
</p>

<p>
  <b>Clcent:</b>
  <%=h @fdbcli.CLCENT %>
</p>

<p>
  <b>Clgera:</b>
  <%=h @fdbcli.CLGERA %>
</p>

<p>
  <b>Cletcv:</b>
  <%=h @fdbcli.CLETCV %>
</p>

<p>
  <b>Clnom:</b>
  <%=h @fdbcli.CLNOM %>
</p>

<p>
  <b>Clprnm:</b>
  <%=h @fdbcli.CLPRNM %>
</p>

<p>
  <b>Clorig:</b>
  <%=h @fdbcli.CLORIG %>
</p>

<p>
  <b>Cltype:</b>
  <%=h @fdbcli.CLTYPE %>
</p>

<p>
  <b>Clnomc:</b>
  <%=h @fdbcli.CLNOMC %>
</p>

<p>
  <b>Cldtna:</b>
  <%=h @fdbcli.CLDTNA %>
</p>

<p>
  <b>Cldtdc:</b>
  <%=h @fdbcli.CLDTDC %>
</p>

<p>
  <b>Clsrcd:</b>
  <%=h @fdbcli.CLSRCD %>
</p>

<p>
  <b>Cllnge:</b>
  <%=h @fdbcli.CLLNGE %>
</p>

<p>
  <b>Clcdex:</b>
  <%=h @fdbcli.CLCDEX %>
</p>

<p>
  <b>Cldesi:</b>
  <%=h @fdbcli.CLDESI %>
</p>

<p>
  <b>Clad01:</b>
  <%=h @fdbcli.CLAD01 %>
</p>

<p>
  <b>Clad02:</b>
  <%=h @fdbcli.CLAD02 %>
</p>

<p>
  <b>Clad03:</b>
  <%=h @fdbcli.CLAD03 %>
</p>

<p>
  <b>Clad04:</b>
  <%=h @fdbcli.CLAD04 %>
</p>

<p>
  <b>Clad05:</b>
  <%=h @fdbcli.CLAD05 %>
</p>

<p>
  <b>Clad06:</b>
  <%=h @fdbcli.CLAD06 %>
</p>

<p>
  <b>Cldomi:</b>
  <%=h @fdbcli.CLDOMI %>
</p>

<p>
  <b>Clregi:</b>
  <%=h @fdbcli.CLREGI %>
</p>

<p>
  <b>Clnati:</b>
  <%=h @fdbcli.CLNATI %>
</p>

<p>
  <b>Clacti:</b>
  <%=h @fdbcli.CLACTI %>
</p>

<p>
  <b>Clsect:</b>
  <%=h @fdbcli.CLSECT %>
</p>

<p>
  <b>Clrgma:</b>
  <%=h @fdbcli.CLRGMA %>
</p>

<p>
  <b>Clsymp:</b>
  <%=h @fdbcli.CLSYMP %>
</p>

<p>
  <b>Clmone:</b>
  <%=h @fdbcli.CLMONE %>
</p>

<p>
  <b>Clmonp:</b>
  <%=h @fdbcli.CLMONP %>
</p>

<p>
  <b>Cltlph:</b>
  <%=h @fdbcli.CLTLPH %>
</p>

<p>
  <b>Cltlex:</b>
  <%=h @fdbcli.CLTLEX %>
</p>

<p>
  <b>Cltlfx:</b>
  <%=h @fdbcli.CLTLFX %>
</p>

<p>
  <b>Clswft:</b>
  <%=h @fdbcli.CLSWFT %>
</p>

<p>
  <b>Clsic:</b>
  <%=h @fdbcli.CLSIC %>
</p>

<p>
  <b>Clautr:</b>
  <%=h @fdbcli.CLAUTR %>
</p>

<p>
  <b>Clgiro:</b>
  <%=h @fdbcli.CLGIRO %>
</p>

<p>
  <b>Clprof:</b>
  <%=h @fdbcli.CLPROF %>
</p>

<p>
  <b>Clgest:</b>
  <%=h @fdbcli.CLGEST %>
</p>

<p>
  <b>Clobje:</b>
  <%=h @fdbcli.CLOBJE %>
</p>

<p>
  <b>Clgrpg:</b>
  <%=h @fdbcli.CLGRPG %>
</p>

<p>
  <b>Clger2:</b>
  <%=h @fdbcli.CLGER2 %>
</p>

<p>
  <b>Clger3:</b>
  <%=h @fdbcli.CLGER3 %>
</p>

<p>
  <b>Clnatu:</b>
  <%=h @fdbcli.CLNATU %>
</p>

<p>
  <b>Clscte:</b>
  <%=h @fdbcli.CLSCTE %>
</p>

<p>
  <b>Clnacp:</b>
  <%=h @fdbcli.CLNACP %>
</p>

<p>
  <b>Cldomr:</b>
  <%=h @fdbcli.CLDOMR %>
</p>

<p>
  <b>Clsegm:</b>
  <%=h @fdbcli.CLSEGM %>
</p>

<p>
  <b>Clpotn:</b>
  <%=h @fdbcli.CLPOTN %>
</p>

<p>
  <b>Clctva:</b>
  <%=h @fdbcli.CLCTVA %>
</p>

<p>
  <b>Clcpin:</b>
  <%=h @fdbcli.CLCPIN %>
</p>

<p>
  <b>Clcpri:</b>
  <%=h @fdbcli.CLCPRI %>
</p>

<p>
  <b>Clcrin:</b>
  <%=h @fdbcli.CLCRIN %>
</p>

<p>
  <b>Clcpdn:</b>
  <%=h @fdbcli.CLCPDN %>
</p>

<p>
  <b>Clfill:</b>
  <%=h @fdbcli.CLFILL %>
</p>

<p>
  <b>Clfres:</b>
  <%=h @fdbcli.CLFRES %>
</p>

<p>
  <b>Cltyes:</b>
  <%=h @fdbcli.CLTYES %>
</p>

<p>
  <b>Clfrfi:</b>
  <%=h @fdbcli.CLFRFI %>
</p>

<p>
  <b>Cltyfi:</b>
  <%=h @fdbcli.CLTYFI %>
</p>

<p>
  <b>Clfr03:</b>
  <%=h @fdbcli.CLFR03 %>
</p>

<p>
  <b>Clty03:</b>
  <%=h @fdbcli.CLTY03 %>
</p>

<p>
  <b>Clsq11:</b>
  <%=h @fdbcli.CLSQ11 %>
</p>

<p>
  <b>Clex11:</b>
  <%=h @fdbcli.CLEX11 %>
</p>

<p>
  <b>Clsq12:</b>
  <%=h @fdbcli.CLSQ12 %>
</p>

<p>
  <b>Clex12:</b>
  <%=h @fdbcli.CLEX12 %>
</p>

<p>
  <b>Clsq13:</b>
  <%=h @fdbcli.CLSQ13 %>
</p>

<p>
  <b>Clex13:</b>
  <%=h @fdbcli.CLEX13 %>
</p>

<p>
  <b>Clsq14:</b>
  <%=h @fdbcli.CLSQ14 %>
</p>

<p>
  <b>Clex14:</b>
  <%=h @fdbcli.CLEX14 %>
</p>

<p>
  <b>Clsq15:</b>
  <%=h @fdbcli.CLSQ15 %>
</p>

<p>
  <b>Clex15:</b>
  <%=h @fdbcli.CLEX15 %>
</p>

<p>
  <b>Clsq21:</b>
  <%=h @fdbcli.CLSQ21 %>
</p>

<p>
  <b>Clex21:</b>
  <%=h @fdbcli.CLEX21 %>
</p>

<p>
  <b>Clsq22:</b>
  <%=h @fdbcli.CLSQ22 %>
</p>

<p>
  <b>Clex22:</b>
  <%=h @fdbcli.CLEX22 %>
</p>

<p>
  <b>Clsq23:</b>
  <%=h @fdbcli.CLSQ23 %>
</p>

<p>
  <b>Clex23:</b>
  <%=h @fdbcli.CLEX23 %>
</p>

<p>
  <b>Clsq24:</b>
  <%=h @fdbcli.CLSQ24 %>
</p>

<p>
  <b>Clex24:</b>
  <%=h @fdbcli.CLEX24 %>
</p>

<p>
  <b>Clsq25:</b>
  <%=h @fdbcli.CLSQ25 %>
</p>

<p>
  <b>Clex25:</b>
  <%=h @fdbcli.CLEX25 %>
</p>

<p>
  <b>Clsq31:</b>
  <%=h @fdbcli.CLSQ31 %>
</p>

<p>
  <b>Clex31:</b>
  <%=h @fdbcli.CLEX31 %>
</p>

<p>
  <b>Clsq32:</b>
  <%=h @fdbcli.CLSQ32 %>
</p>

<p>
  <b>Clex32:</b>
  <%=h @fdbcli.CLEX32 %>
</p>

<p>
  <b>Clsq33:</b>
  <%=h @fdbcli.CLSQ33 %>
</p>

<p>
  <b>Clex33:</b>
  <%=h @fdbcli.CLEX33 %>
</p>

<p>
  <b>Clsq34:</b>
  <%=h @fdbcli.CLSQ34 %>
</p>

<p>
  <b>Clex34:</b>
  <%=h @fdbcli.CLEX34 %>
</p>

<p>
  <b>Clsq35:</b>
  <%=h @fdbcli.CLSQ35 %>
</p>

<p>
  <b>Clex35:</b>
  <%=h @fdbcli.CLEX35 %>
</p>

<p>
  <b>Clju01:</b>
  <%=h @fdbcli.CLJU01 %>
</p>

<p>
  <b>Clju02:</b>
  <%=h @fdbcli.CLJU02 %>
</p>

<p>
  <b>Clju03:</b>
  <%=h @fdbcli.CLJU03 %>
</p>

<p>
  <b>Clju04:</b>
  <%=h @fdbcli.CLJU04 %>
</p>

<p>
  <b>Clju05:</b>
  <%=h @fdbcli.CLJU05 %>
</p>

<p>
  <b>Clju06:</b>
  <%=h @fdbcli.CLJU06 %>
</p>

<p>
  <b>Clju07:</b>
  <%=h @fdbcli.CLJU07 %>
</p>

<p>
  <b>Clju08:</b>
  <%=h @fdbcli.CLJU08 %>
</p>

<p>
  <b>Clju09:</b>
  <%=h @fdbcli.CLJU09 %>
</p>

<p>
  <b>Clju10:</b>
  <%=h @fdbcli.CLJU10 %>
</p>

<p>
  <b>Clju11:</b>
  <%=h @fdbcli.CLJU11 %>
</p>

<p>
  <b>Clju12:</b>
  <%=h @fdbcli.CLJU12 %>
</p>

<p>
  <b>Clju13:</b>
  <%=h @fdbcli.CLJU13 %>
</p>

<p>
  <b>Clju14:</b>
  <%=h @fdbcli.CLJU14 %>
</p>

<p>
  <b>Clju15:</b>
  <%=h @fdbcli.CLJU15 %>
</p>

<p>
  <b>Clds01:</b>
  <%=h @fdbcli.CLDS01 %>
</p>

<p>
  <b>Cldr01:</b>
  <%=h @fdbcli.CLDR01 %>
</p>

<p>
  <b>Clds02:</b>
  <%=h @fdbcli.CLDS02 %>
</p>

<p>
  <b>Cldr02:</b>
  <%=h @fdbcli.CLDR02 %>
</p>

<p>
  <b>Clds03:</b>
  <%=h @fdbcli.CLDS03 %>
</p>

<p>
  <b>Cldr03:</b>
  <%=h @fdbcli.CLDR03 %>
</p>

<p>
  <b>Clds04:</b>
  <%=h @fdbcli.CLDS04 %>
</p>

<p>
  <b>Cldr04:</b>
  <%=h @fdbcli.CLDR04 %>
</p>

<p>
  <b>Clds05:</b>
  <%=h @fdbcli.CLDS05 %>
</p>

<p>
  <b>Cldr05:</b>
  <%=h @fdbcli.CLDR05 %>
</p>

<p>
  <b>Clds06:</b>
  <%=h @fdbcli.CLDS06 %>
</p>

<p>
  <b>Cldr06:</b>
  <%=h @fdbcli.CLDR06 %>
</p>

<p>
  <b>Clds07:</b>
  <%=h @fdbcli.CLDS07 %>
</p>

<p>
  <b>Cldr07:</b>
  <%=h @fdbcli.CLDR07 %>
</p>

<p>
  <b>Clds08:</b>
  <%=h @fdbcli.CLDS08 %>
</p>

<p>
  <b>Cldr08:</b>
  <%=h @fdbcli.CLDR08 %>
</p>

<p>
  <b>Clds09:</b>
  <%=h @fdbcli.CLDS09 %>
</p>

<p>
  <b>Cldr09:</b>
  <%=h @fdbcli.CLDR09 %>
</p>

<p>
  <b>Clds10:</b>
  <%=h @fdbcli.CLDS10 %>
</p>

<p>
  <b>Cldr10:</b>
  <%=h @fdbcli.CLDR10 %>
</p>

<p>
  <b>Clds11:</b>
  <%=h @fdbcli.CLDS11 %>
</p>

<p>
  <b>Cldr11:</b>
  <%=h @fdbcli.CLDR11 %>
</p>

<p>
  <b>Clds12:</b>
  <%=h @fdbcli.CLDS12 %>
</p>

<p>
  <b>Cldr12:</b>
  <%=h @fdbcli.CLDR12 %>
</p>

<p>
  <b>Clds13:</b>
  <%=h @fdbcli.CLDS13 %>
</p>

<p>
  <b>Cldr13:</b>
  <%=h @fdbcli.CLDR13 %>
</p>

<p>
  <b>Clds14:</b>
  <%=h @fdbcli.CLDS14 %>
</p>

<p>
  <b>Cldr14:</b>
  <%=h @fdbcli.CLDR14 %>
</p>

<p>
  <b>Clds15:</b>
  <%=h @fdbcli.CLDS15 %>
</p>

<p>
  <b>Cldr15:</b>
  <%=h @fdbcli.CLDR15 %>
</p>

<p>
  <b>Clfi02:</b>
  <%=h @fdbcli.CLFI02 %>
</p>

<p>
  <b>Clrfar:</b>
  <%=h @fdbcli.CLRFAR %>
</p>

<p>
  <b>Clrfan:</b>
  <%=h @fdbcli.CLRFAN %>
</p>

<p>
  <b>Clrmdu:</b>
  <%=h @fdbcli.CLRMDU %>
</p>

<p>
  <b>Clrmau:</b>
  <%=h @fdbcli.CLRMAU %>
</p>

<p>
  <b>Clrmar:</b>
  <%=h @fdbcli.CLRMAR %>
</p>

<p>
  <b>Clrman:</b>
  <%=h @fdbcli.CLRMAN %>
</p>

<p>
  <b>Cltent:</b>
  <%=h @fdbcli.CLTENT %>
</p>

<p>
  <b>Clafil:</b>
  <%=h @fdbcli.CLAFIL %>
</p>

<p>
  <b>Cldorm:</b>
  <%=h @fdbcli.CLDORM %>
</p>

<p>
  <b>Cldspm:</b>
  <%=h @fdbcli.CLDSPM %>
</p>

<p>
  <b>Clfi03:</b>
  <%=h @fdbcli.CLFI03 %>
</p>

<p>
  <b>Fimis status:</b>
  <%=h @fdbcli.fimis_status %>
</p>

<p>
  <b>Group identifier:</b>
  <%=h @fdbcli.Group_Identifier %>
</p>

<p>
  <b>Entity identifier:</b>
  <%=h @fdbcli.Entity_Identifier %>
</p>

<p>
  <b>Source identifier:</b>
  <%=h @fdbcli.Source_Identifier %>
</p>

<p>
  <b>Record creation date:</b>
  <%=h @fdbcli.Record_Creation_Date %>
</p>

<p>
  <b>Source package:</b>
  <%=h @fdbcli.Source_Package %>
</p>


<%= link_to 'Edit', edit_fdbcli_path(@fdbcli) %> |
<%= link_to 'Back', fdbclis_path %>