<h1>Editing depreciation</h1>

<% form_for(@depreciation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :type_id %><br />
    <%= f.text_field :type_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :currency %><br />
    <%= f.text_field :currency %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :event_date %><br />
    <%= f.date_select :event_date %>
  </p>
  <p>
    <%= f.label :period_id %><br />
    <%= f.text_field :period_id %>
  </p>
  <p>
    <%= f.label :debit_account %><br />
    <%= f.text_field :debit_account %>
  </p>
  <p>
    <%= f.label :credit_account %><br />
    <%= f.text_field :credit_account %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @depreciation %> |
<%= link_to 'Back', depreciations_path %>