<p>
  <b>Body:</b>
  <%=h @comment.body %>
</p>

<p>
  <b>Tasklist:</b>
  <%=h @comment.tasklist_id %>
</p>

<p>
  <b>User:</b>
  <%=h @comment.user_id %>
</p>


#Newdiv
 .left
   #test1 Voila
   #test2 Voila2


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>