<% form_for  invoice do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :type_id %><br />
    <%= f.collection_select(:type_id, Invoice.type_id_name_options, :first, :last, :class => 'select') %>
  </p><br />  


  <p>
    <%= f.label :identification %> - <%= f.label :name %><br />
    <%= f.text_field :identification, :size => '7' %> - <%= f.text_field :name, :size => '40' %>
  </p>
  <p>
    <%= f.label :counterparty %> / <%= f.label :account %><br />
    <%= f.text_field :counterparty, :size => '7' %> / <%= f.text_field :account, :size => '11' %>
  </p>
  <p>
    <%= f.label :currency %>  <%= f.label :amount %> <br />
    <%= f.text_field :currency, :size => '3' %> <%= f.text_field :amount, :size => '12' %>
  </p>
  <p>
    <%= f.label :booked_on %><br />
    <%= f.date_select :booked_on %>
  </p>
  <p>
    <%= f.label :period_from %> - <%= f.label :period_to %><br />
<br />
    <%= f.date_select :period_from %> - <%= f.date_select :period_to %>
  </p>
  <p>
    <%= f.label :validity_in_months %><br />
    <%= f.text_field :validity_in_months, :size => '2' %>
  </p>
  <p>
    <%= f.label :balance_sheet_accrual_account %> & <%= f.label :profit_and_loss_accrual_account %><br />
    <%= f.text_field :balance_sheet_accrual_account, :size => '19' %> & <%= f.text_field :profit_and_loss_accrual_account, :size => '19' %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :updated_by %><br />
    <%= f.text_field :updated_by %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>