<div id="selectnews">
 <div id="selection">
  <% form_for @search do |f| %>

    <h2>Choose your search criteria</h2>
        <!--
            Setting all the checkbox names to "source[] helps us build the array on submit"
            We're also adding the RSS feed url to the checkbox value so we can save it in the array values
        -->
  <ul>
    <li> <%= f.label :name_like, "Name " %> </li>
    <li> <%= f.text_field :name_like, :class => 'text' %></li>
    <li> <%= f.label :identification_like, "Identification" %> </li>
    <li> <%= f.text_field :identification_like, :class => 'text' %></li>
    <li> <%= f.label :counterparty_like, "Counterparty" %> </li>
    <li> <%= f.text_field :counterparty_like, :class => 'text' %></li>
    <li> <%= f.label :account_like, "Account" %> </li>
    <li> <%= f.text_field :account_like, :class => 'text' %></li>
  </ul>

  <!-- Setting the submit name to "btn" -->
  <%= f.submit "Search" %>
  <% end %>
   </div>
</div><!--/#selectnews-->

<p id="getform"><a href="#selection">Search</a></p>

<div id = "Invoices">

<caption>Invoices</caption>

<p>Sort by  <%= order @search, :by => :name %> | <%= order @search, :by => :identification %> | <%= order @search, :by => :counterparty %> | <%= order @search, :by => :account %> </p>

<br />

<table summary="List of all invoices" width=98% >

  <thead>
    <tr>
      <th>Identification</th>
      <th>Name</th>
      <th>Counterparty/Account</th>
      <th>Amount</th>
      <th>Booked on</th>
    </tr>
  </thead>

  <!--tfoot>
    <tr> This is the footer </tr>
  </tfoot-->

  <tbody>
  <% @invoices.each do |invoice| %>
  <tr>
    <td><%=h invoice.identification %></td> 
    <td><%=h invoice.name %></td>
    <td><%=h invoice.counterparty %> / <%=h invoice.account %></td>
    <td><%=h number_to_currency(invoice.amount) %></td>
    <td><%=h invoice.booked_on %></td>
    <td><%= link_to 'Show', invoice %></td>
    <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
    <td><%= link_to 'Destroy', invoice, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<br />

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @invoices %>
  </div>
    <%= will_paginate @invoices, :container => false %>
</div>

<p><%= link_to 'New invoice', new_invoice_path %> | <%= link_to 'Compute accruals', new_invoice_path %></p>

</div><!--/#invoices-->    