<h1>Listing invoices</h1>

<table>
  <tr>
    <th>Identification</th>
    <th>Name</th>
    <th>Counterparty/Account</th>
    <th>Amount</th>
    <th>Booked on</th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%=h invoice.identification %></td> 
    <td><%=h invoice.name %></td>
    <td><%=h invoice.counterparty %> / <%=h invoice.account %></td>
    <td><%=h number_to_currency(invoice.amount) %></td>
    <td><%=h invoice.booked_on %></td>
    <td><%= link_to 'Show', invoice %></td>
    <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
    <td><%= link_to 'Destroy', invoice, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New invoice', new_invoice_path %>