<ul id="crumbs">
 <li><a href="#">Homes</a></li>
 <li><%= link_to  "Report categories" , report_categories_path %></li>
 <li>You are editing one report category</li>
</ul>

<br/>

<h1>Editing report_category</h1>

<% form_for(@report_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :comments %><br />
    <%= f.text_field :comments, "rows" => 3, "cols" => 35  %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @report_category %> |
<%= link_to 'Back', report_categories_path %>