<ul id="crumbs">
 <li><a href="#">Homes</a></li>
 <li><%= link_to  "Report categories" , report_categories_path %></li>
 <li>You are on the list of report categories page</li>
</ul>

<br/>

<h1>Listing report_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comments</th>
  </tr>

<% @report_categories.each do |report_category| %>
  <tr>
    <td><%= link_to report_category.name, report_category %></td>
    <td><%=h report_category.comments %></td>
    <td><%= link_to 'Edit', edit_report_category_path(report_category) %></td>
    <td><%= link_to 'Destroy', report_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New report_category', new_report_category_path %>