<!-- This is the breadcrumb part -->

<ul id="crumbs">
 <li><a href="#">Homes</a></li>
 <li><%= link_to  "Report categories" , report_categories_path %></li>
 <li>You are on the list of report categories page</li>
</ul>

<br/>


<!-- This is the list part -->

<div id="page_wrapper">
		<div id="table_wrapper">
			<h1>Listing report categories</h1>


          <!-- This is the live filter input field part -->

          <input class="filter" name="livefilter" type="text" value="" />
<br/>
<br/>

<table class="live_filter">
  <tr>
    <th>Name</th>
    <th>Comments</th>
  </tr>

<% @report_categories.each do |report_category| %>
  <tr>
    <td class="title"><%= link_to report_category.name, report_category %></td>
    <td><%=h report_category.comments %></td>
    <td><%= link_to 'Edit', edit_report_category_path(report_category) %></td>
    <td><%= link_to 'Destroy', report_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New report_category', new_report_category_path %>

    </div>
 </div>


<!-- This is the javascript part -->

<%= render :partial => "shared/livefilter" %>



