
  <h3 align='center' color='red'>
  <%=h @report_category.name %>
  </h3>

<p>
  <span style="font-weight: bold;">
    Comments: <%=h @report_category.comments %>
  </span>
</p>

<%= link_to 'Back', report_categories_path %>
   <hr />

<h4>this category includes the following reports:</h4>

  <table>
      <tr>
       <th> reference </th>
       <th> </th>
       <th align='left'> name </th>
      </tr>

  <% for report in @report_category.reports %>

    <tr>
     <td> <%= report.reference %> </td>
     <td> ................... </td>      
     <td><%= report.name %> </td>
     <!--Created on report.created_at.strftime("%e %B, %Y") %-->
     <td><%= link_to 'Show', report %></td>
     <td><%= link_to 'Edit', edit_report_path(report) %></td> 

    </tr>
  <% end %>
  </table>


<hr />
  

  <br />
  <br />

  <%= form_tag :action => "report", :id => @report_category %>
     <%= text_field "report", "reference" %> <%= text_field "report", "name" %><br />
    <%= submit_tag "Add a new report in this category" %>
  </form>


