<ul id="crumbs">
 <li><a href="#">Homes</a></li>
 <li><%= link_to  "Report categories" , report_categories_path %></li>
 <li>You are looking at one report category</li>
</ul>

<br/>

  <h3>
  <%=h @report_category.name %>
  </h3>

<p>
  <span style="font-weight: bold;">
    Comments: <%=h @report_category.comments %>
  </span>
</p>

<%= link_to 'Back', report_categories_path %>
   <hr />

<h4>This category includes the following reports:</h4>

  <table>
      <tr>
       <th> reference </th>
       <th align='center'> name </th>
       <th> </th>
       <th align='right'> created on </th>
       <th> Comments </th>
      </tr>

  <% for report in @report_category.reports %>

    <tr>
     <td><%= link_to report.reference, report %></td>
     <td><%= report.name %> </td>
     <td> </td>
     <td><%= report.created_at.strftime("%e %B, %Y") %><td>
     <td><%= report.comments %> </td>

     <td><%= link_to 'Edit', edit_report_path(report) %></td> 

    </tr>
  <% end %>
  </table>


<hr />
  

  <br />
  <br />

  <%= form_tag :action => "report", :id => @report_category %>
     <%= label "reference", "reference" %><br />
     <%= text_field "report", "reference" %><br />
     <%= label "name", "name" %><br />
     <%= text_field "report", "name" %><br />
     <%= label "position", "position" %><br />
     <%= text_field "report", "position" %><br />

    <br />
    <%= submit_tag "Add a new report in this category" %>
  </form>


