<p>
  <b>Id:</b>
  <%=h @counterparty.id %>
</p>

<p>
  <b>Group:</b>
  <%=h @counterparty.Group_id %>
</p>

<p>
  <b>Entity:</b>
  <%=h @counterparty.Entity_id %>
</p>

<p>
  <b>Source:</b>
  <%=h @counterparty.Source_id %>
</p>

<p>
  <b>Downloaddate:</b>
  <%=h @counterparty.DownloadDate %>
</p>

<p>
  <b>Record creation date:</b>
  <%=h @counterparty.Record_Creation_Date %>
</p>

<p>
  <b>Record creator:</b>
  <%=h @counterparty.Record_Creator %>
</p>

<p>
  <b>Record application:</b>
  <%=h @counterparty.Record_Application %>
</p>

<p>
  <b>Value month:</b>
  <%=h @counterparty.Value_Month %>
</p>

<p>
  <b>Value date:</b>
  <%=h @counterparty.Value_Date %>
</p>

<p>
  <b>Executing date:</b>
  <%=h @counterparty.Executing_Date %>
</p>

<p>
  <b>Type of record:</b>
  <%=h @counterparty.Type_of_record %>
</p>

<p>
  <b>Bank:</b>
  <%=h @counterparty.Bank_id %>
</p>

<p>
  <b>Branch:</b>
  <%=h @counterparty.Branch_id %>
</p>

<p>
  <b>Count cif:</b>
  <%=h @counterparty.Count_CIF %>
</p>

<p>
  <b>Count group:</b>
  <%=h @counterparty.Count_Group %>
</p>

<p>
  <b>Count group code:</b>
  <%=h @counterparty.Count_Group_Code %>
</p>

<p>
  <b>Count name:</b>
  <%=h @counterparty.Count_Name %>
</p>

<p>
  <b>Count segment bh:</b>
  <%=h @counterparty.Count_Segment_BH %>
</p>

<p>
  <b>Count segment det:</b>
  <%=h @counterparty.Count_Segment_Det %>
</p>

<p>
  <b>Count segment:</b>
  <%=h @counterparty.Count_Segment %>
</p>

<p>
  <b>Count legal:</b>
  <%=h @counterparty.Count_Legal %>
</p>

<p>
  <b>Count domicile:</b>
  <%=h @counterparty.Count_Domicile %>
</p>

<p>
  <b>Count risk:</b>
  <%=h @counterparty.Count_Risk %>
</p>

<p>
  <b>Count org bh:</b>
  <%=h @counterparty.Count_Org_BH %>
</p>

<p>
  <b>Count domicile dom:</b>
  <%=h @counterparty.Count_Domicile_Dom %>
</p>

<p>
  <b>Count domicile oecd:</b>
  <%=h @counterparty.Count_Domicile_OECD %>
</p>

<p>
  <b>Count domicile eea:</b>
  <%=h @counterparty.Count_Domicile_EEA %>
</p>

<p>
  <b>Count exp tot:</b>
  <%=h @counterparty.Count_Exp_Tot %>
</p>

<p>
  <b>Count prov:</b>
  <%=h @counterparty.Count_Prov %>
</p>

<p>
  <b>Count ref date:</b>
  <%=h @counterparty.Count_Ref_Date %>
</p>

<p>
  <b>Swift address:</b>
  <%=h @counterparty.Swift_Address %>
</p>

<p>
  <b>Swift address branch:</b>
  <%=h @counterparty.Swift_Address_Branch %>
</p>

<p>
  <b>Establish date:</b>
  <%=h @counterparty.Establish_Date %>
</p>

<p>
  <b>Global cif:</b>
  <%=h @counterparty.Global_Cif %>
</p>

<p>
  <b>Count segment code:</b>
  <%=h @counterparty.Count_Segment_Code %>
</p>

<p>
  <b>Count sub segment code:</b>
  <%=h @counterparty.Count_Sub_Segment_Code %>
</p>

<p>
  <b>Count sub segment det:</b>
  <%=h @counterparty.Count_Sub_Segment_Det %>
</p>

<p>
  <b>Count income total local:</b>
  <%=h @counterparty.Count_Income_Total_Local %>
</p>

<p>
  <b>Count income total nis:</b>
  <%=h @counterparty.Count_Income_Total_NIS %>
</p>

<p>
  <b>Count code:</b>
  <%=h @counterparty.Count_Code %>
</p>

<p>
  <b>Domicile branch code:</b>
  <%=h @counterparty.Domicile_Branch_Code %>
</p>


<%= link_to 'Edit', edit_counterparty_path(@counterparty) %> |
<%= link_to 'Back', counterparties_path %>