<h1>Editing activity_log</h1>

<% form_for(@activity_log) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :session_id %><br />
    <%= f.text_field :session_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :browser %><br />
    <%= f.text_field :browser %>
  </p>
  <p>
    <%= f.label :ip_address %><br />
    <%= f.text_field :ip_address %>
  </p>
  <p>
    <%= f.label :controller %><br />
    <%= f.text_field :controller %>
  </p>
  <p>
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </p>
  <p>
    <%= f.label :request_at %><br />
    <%= f.datetime_select :request_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @activity_log %> |
<%= link_to 'Back', activity_logs_path %>