<p>
  <b>Id:</b>
  <%=h @mortgagescollateral.id %>
</p>

<p>
  <b>Group:</b>
  <%=h @mortgagescollateral.Group_id %>
</p>

<p>
  <b>Entity:</b>
  <%=h @mortgagescollateral.Entity_id %>
</p>

<p>
  <b>Source:</b>
  <%=h @mortgagescollateral.Source_id %>
</p>

<p>
  <b>Downloaddate:</b>
  <%=h @mortgagescollateral.DownloadDate %>
</p>

<p>
  <b>Record creation date:</b>
  <%=h @mortgagescollateral.Record_Creation_Date %>
</p>

<p>
  <b>Record creator:</b>
  <%=h @mortgagescollateral.Record_Creator %>
</p>

<p>
  <b>Record application:</b>
  <%=h @mortgagescollateral.Record_Application %>
</p>

<p>
  <b>Value month:</b>
  <%=h @mortgagescollateral.Value_Month %>
</p>

<p>
  <b>Value date:</b>
  <%=h @mortgagescollateral.Value_Date %>
</p>

<p>
  <b>Executing date:</b>
  <%=h @mortgagescollateral.Executing_Date %>
</p>

<p>
  <b>Type of record:</b>
  <%=h @mortgagescollateral.Type_of_record %>
</p>

<p>
  <b>Bank:</b>
  <%=h @mortgagescollateral.Bank_id %>
</p>

<p>
  <b>Branch:</b>
  <%=h @mortgagescollateral.Branch_id %>
</p>

<p>
  <b>Callat mortg nr:</b>
  <%=h @mortgagescollateral.Callat_mortg_Nr %>
</p>

<p>
  <b>Limit nr:</b>
  <%=h @mortgagescollateral.Limit_nr %>
</p>

<p>
  <b>Count nr:</b>
  <%=h @mortgagescollateral.Count_Nr %>
</p>

<p>
  <b>Collateral nr:</b>
  <%=h @mortgagescollateral.Collateral_Nr %>
</p>

<p>
  <b>Callat mortg nom:</b>
  <%=h @mortgagescollateral.Callat_mortg_Nom %>
</p>

<p>
  <b>Callat mortg curr:</b>
  <%=h @mortgagescollateral.Callat_mortg_Curr %>
</p>

<p>
  <b>Callat mortg local currency:</b>
  <%=h @mortgagescollateral.Callat_mortg_Local_Currency %>
</p>

<p>
  <b>Callat mortg local nom:</b>
  <%=h @mortgagescollateral.Callat_mortg_Local_Nom %>
</p>

<p>
  <b>Callat mortg fx:</b>
  <%=h @mortgagescollateral.Callat_mortg_FX %>
</p>

<p>
  <b>Callat mortg nis:</b>
  <%=h @mortgagescollateral.Callat_mortg_NIS %>
</p>

<p>
  <b>Collat mortg local:</b>
  <%=h @mortgagescollateral.Collat_Mortg_Local %>
</p>

<p>
  <b>Collat mortg nis:</b>
  <%=h @mortgagescollateral.Collat_Mortg_NIS %>
</p>

<p>
  <b>Collat mortg 3rd indic:</b>
  <%=h @mortgagescollateral.Collat_Mortg_3rd_Indic %>
</p>

<p>
  <b>Collat mortg 3rd amt:</b>
  <%=h @mortgagescollateral.Collat_Mortg_3rd_Amt %>
</p>

<p>
  <b>Collat mortg 3rd rank:</b>
  <%=h @mortgagescollateral.Collat_Mortg_3rd_Rank %>
</p>

<p>
  <b>Collat mortg prop:</b>
  <%=h @mortgagescollateral.Collat_Mortg_Prop %>
</p>

<p>
  <b>Collat mortg prop occ:</b>
  <%=h @mortgagescollateral.Collat_Mortg_Prop_Occ %>
</p>

<p>
  <b>Collat mortg enforc:</b>
  <%=h @mortgagescollateral.Collat_Mortg_Enforc %>
</p>

<p>
  <b>Collat mortg owner:</b>
  <%=h @mortgagescollateral.Collat_Mortg_Owner %>
</p>

<p>
  <b>Collat mortg own cif:</b>
  <%=h @mortgagescollateral.Collat_Mortg_Own_CIF %>
</p>

<p>
  <b>Collat mortg ltv int:</b>
  <%=h @mortgagescollateral.Collat_Mortg_LTV_Int %>
</p>

<p>
  <b>Callat mortg prop val orig:</b>
  <%=h @mortgagescollateral.Callat_Mortg_Prop_Val_Orig %>
</p>

<p>
  <b>Callat mortg prop curr:</b>
  <%=h @mortgagescollateral.Callat_Mortg_Prop_Curr %>
</p>

<p>
  <b>Callat mortg prop val local:</b>
  <%=h @mortgagescollateral.Callat_Mortg_Prop_Val_local %>
</p>

<p>
  <b>Callat mortg prop fx:</b>
  <%=h @mortgagescollateral.Callat_Mortg_Prop_FX %>
</p>

<p>
  <b>Callat mortg prop val nis:</b>
  <%=h @mortgagescollateral.Callat_Mortg_Prop_Val_NIS %>
</p>

<p>
  <b>Callat mortg prop dat:</b>
  <%=h @mortgagescollateral.Callat_Mortg_Prop_Dat %>
</p>

<p>
  <b>Collat mortg landreg:</b>
  <%=h @mortgagescollateral.Collat_Mortg_Landreg %>
</p>

<p>
  <b>Collat mortg warn:</b>
  <%=h @mortgagescollateral.Collat_Mortg_Warn %>
</p>

<p>
  <b>Collat mortg rights:</b>
  <%=h @mortgagescollateral.Collat_Mortg_Rights %>
</p>

<p>
  <b>Collat mortg other:</b>
  <%=h @mortgagescollateral.Collat_Mortg_Other %>
</p>

<p>
  <b>Collat mortg ref date:</b>
  <%=h @mortgagescollateral.Collat_Mortg_Ref_Date %>
</p>

<p>
  <b>Insurance comp nr:</b>
  <%=h @mortgagescollateral.Insurance_Comp_Nr %>
</p>

<p>
  <b>Insurance type code:</b>
  <%=h @mortgagescollateral.Insurance_Type_Code %>
</p>

<p>
  <b>Insurance enforc:</b>
  <%=h @mortgagescollateral.Insurance_Enforc %>
</p>

<p>
  <b>Insurance amount local:</b>
  <%=h @mortgagescollateral.Insurance_Amount_Local %>
</p>

<p>
  <b>Insurance amount nis:</b>
  <%=h @mortgagescollateral.Insurance_Amount_NIS %>
</p>

<p>
  <b>Insurance start:</b>
  <%=h @mortgagescollateral.Insurance_Start %>
</p>

<p>
  <b>Insurance end:</b>
  <%=h @mortgagescollateral.Insurance_End %>
</p>

<p>
  <b>Executing bank id:</b>
  <%=h @mortgagescollateral.Executing_Bank_Id %>
</p>

<p>
  <b>Second lien ind:</b>
  <%=h @mortgagescollateral.Second_Lien_Ind %>
</p>

<p>
  <b>Executing branch id:</b>
  <%=h @mortgagescollateral.Executing_Branch_Id %>
</p>


<%= link_to 'Edit', edit_mortgagescollateral_path(@mortgagescollateral) %> |
<%= link_to 'Back', mortgagescollaterals_path %>