<h1>New derivative</h1>

<% form_for(@derivative) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :Group_id %><br />
    <%= f.text_field :Group_id %>
  </p>
  <p>
    <%= f.label :Entity_id %><br />
    <%= f.text_field :Entity_id %>
  </p>
  <p>
    <%= f.label :Source_id %><br />
    <%= f.text_field :Source_id %>
  </p>
  <p>
    <%= f.label :DownloadDate %><br />
    <%= f.datetime_select :DownloadDate %>
  </p>
  <p>
    <%= f.label :Record_Creation_Date %><br />
    <%= f.datetime_select :Record_Creation_Date %>
  </p>
  <p>
    <%= f.label :Record_Creator %><br />
    <%= f.text_field :Record_Creator %>
  </p>
  <p>
    <%= f.label :Record_Application %><br />
    <%= f.text_field :Record_Application %>
  </p>
  <p>
    <%= f.label :Value_Month %><br />
    <%= f.text_field :Value_Month %>
  </p>
  <p>
    <%= f.label :Value_Date %><br />
    <%= f.text_field :Value_Date %>
  </p>
  <p>
    <%= f.label :Executing_Date %><br />
    <%= f.text_field :Executing_Date %>
  </p>
  <p>
    <%= f.label :Type_of_record %><br />
    <%= f.text_field :Type_of_record %>
  </p>
  <p>
    <%= f.label :Bank_id %><br />
    <%= f.text_field :Bank_id %>
  </p>
  <p>
    <%= f.label :Branch_id %><br />
    <%= f.text_field :Branch_id %>
  </p>
  <p>
    <%= f.label :Trans_nr %><br />
    <%= f.text_field :Trans_nr %>
  </p>
  <p>
    <%= f.label :Count_CIF %><br />
    <%= f.text_field :Count_CIF %>
  </p>
  <p>
    <%= f.label :Limit_nr %><br />
    <%= f.text_field :Limit_nr %>
  </p>
  <p>
    <%= f.label :Trans_Code %><br />
    <%= f.text_field :Trans_Code %>
  </p>
  <p>
    <%= f.label :Trans_Text %><br />
    <%= f.text_field :Trans_Text %>
  </p>
  <p>
    <%= f.label :Trans_LS %><br />
    <%= f.text_field :Trans_LS %>
  </p>
  <p>
    <%= f.label :Trans_Nostro %><br />
    <%= f.text_field :Trans_Nostro %>
  </p>
  <p>
    <%= f.label :Trans_Nostro_TB %><br />
    <%= f.text_field :Trans_Nostro_TB %>
  </p>
  <p>
    <%= f.label :Trans_Underl_ID_int %><br />
    <%= f.text_field :Trans_Underl_ID_int %>
  </p>
  <p>
    <%= f.label :Trans_Underl_ID_ext %><br />
    <%= f.text_field :Trans_Underl_ID_ext %>
  </p>
  <p>
    <%= f.label :Trans_Underl_ID_Ind %><br />
    <%= f.text_field :Trans_Underl_ID_Ind %>
  </p>
  <p>
    <%= f.label :Trans_Underl_ID_Bsk %><br />
    <%= f.text_field :Trans_Underl_ID_Bsk %>
  </p>
  <p>
    <%= f.label :Trans_Underl_ID_Text %><br />
    <%= f.text_field :Trans_Underl_ID_Text %>
  </p>
  <p>
    <%= f.label :Trans_Underl_Categ %><br />
    <%= f.text_field :Trans_Underl_Categ %>
  </p>
  <p>
    <%= f.label :Trans_Underl_Def %><br />
    <%= f.text_field :Trans_Underl_Def %>
  </p>
  <p>
    <%= f.label :Trans_Underl_CIF %><br />
    <%= f.text_field :Trans_Underl_CIF %>
  </p>
  <p>
    <%= f.label :Trans_Underl_Name %><br />
    <%= f.text_field :Trans_Underl_Name %>
  </p>
  <p>
    <%= f.label :Trans_Underl_Domicile %><br />
    <%= f.text_field :Trans_Underl_Domicile %>
  </p>
  <p>
    <%= f.label :Trans_Underl_Start %><br />
    <%= f.text_field :Trans_Underl_Start %>
  </p>
  <p>
    <%= f.label :Trans_Underl_End %><br />
    <%= f.text_field :Trans_Underl_End %>
  </p>
  <p>
    <%= f.label :Trans_Underl_Tenure %><br />
    <%= f.text_field :Trans_Underl_Tenure %>
  </p>
  <p>
    <%= f.label :Trans_Underl_Nom %><br />
    <%= f.text_field :Trans_Underl_Nom %>
  </p>
  <p>
    <%= f.label :Trans_Underl_Unit %><br />
    <%= f.text_field :Trans_Underl_Unit %>
  </p>
  <p>
    <%= f.label :Trans_Underl_Value_Con %><br />
    <%= f.text_field :Trans_Underl_Value_Con %>
  </p>
  <p>
    <%= f.label :Trans_Underl_Nom_Calc %><br />
    <%= f.text_field :Trans_Underl_Nom_Calc %>
  </p>
  <p>
    <%= f.label :Trans_Underl_Curr %><br />
    <%= f.text_field :Trans_Underl_Curr %>
  </p>
  <p>
    <%= f.label :Trans_Underl_Local_Curr %><br />
    <%= f.text_field :Trans_Underl_Local_Curr %>
  </p>
  <p>
    <%= f.label :Trans_Underl_Local_Nom %><br />
    <%= f.text_field :Trans_Underl_Local_Nom %>
  </p>
  <p>
    <%= f.label :Trans_Underl_FX %><br />
    <%= f.text_field :Trans_Underl_FX %>
  </p>
  <p>
    <%= f.label :Trans_Underl_NIS %><br />
    <%= f.text_field :Trans_Underl_NIS %>
  </p>
  <p>
    <%= f.label :Trans_Value_Mar %><br />
    <%= f.text_field :Trans_Value_Mar %>
  </p>
  <p>
    <%= f.label :Trans_Value_Mod %><br />
    <%= f.text_field :Trans_Value_Mod %>
  </p>
  <p>
    <%= f.label :Trans_Curr %><br />
    <%= f.text_field :Trans_Curr %>
  </p>
  <p>
    <%= f.label :Trans_Local_Curr %><br />
    <%= f.text_field :Trans_Local_Curr %>
  </p>
  <p>
    <%= f.label :Trans_Value_Local_Mar %><br />
    <%= f.text_field :Trans_Value_Local_Mar %>
  </p>
  <p>
    <%= f.label :Trans_Value_Local_Mod %><br />
    <%= f.text_field :Trans_Value_Local_Mod %>
  </p>
  <p>
    <%= f.label :Trans_FX %><br />
    <%= f.text_field :Trans_FX %>
  </p>
  <p>
    <%= f.label :Trans_NIS %><br />
    <%= f.text_field :Trans_NIS %>
  </p>
  <p>
    <%= f.label :Trans_Addon_B1 %><br />
    <%= f.text_field :Trans_Addon_B1 %>
  </p>
  <p>
    <%= f.label :Trans_Addon_Am_B1 %><br />
    <%= f.text_field :Trans_Addon_Am_B1 %>
  </p>
  <p>
    <%= f.label :Trans_Addon_B2 %><br />
    <%= f.text_field :Trans_Addon_B2 %>
  </p>
  <p>
    <%= f.label :Trans_Addon_Am_B2 %><br />
    <%= f.text_field :Trans_Addon_Am_B2 %>
  </p>
  <p>
    <%= f.label :Trans_Start %><br />
    <%= f.text_field :Trans_Start %>
  </p>
  <p>
    <%= f.label :Trans_End %><br />
    <%= f.text_field :Trans_End %>
  </p>
  <p>
    <%= f.label :Trans_Tenure %><br />
    <%= f.text_field :Trans_Tenure %>
  </p>
  <p>
    <%= f.label :Trans_Tenure_ST %><br />
    <%= f.text_field :Trans_Tenure_ST %>
  </p>
  <p>
    <%= f.label :Trans_Start_Spec %><br />
    <%= f.text_field :Trans_Start_Spec %>
  </p>
  <p>
    <%= f.label :Trans_End_Spec %><br />
    <%= f.text_field :Trans_End_Spec %>
  </p>
  <p>
    <%= f.label :Trans_Tenure_Spec %><br />
    <%= f.text_field :Trans_Tenure_Spec %>
  </p>
  <p>
    <%= f.label :Trans_Tenure_Spec_ST %><br />
    <%= f.text_field :Trans_Tenure_Spec_ST %>
  </p>
  <p>
    <%= f.label :Trans_Ref_Date %><br />
    <%= f.text_field :Trans_Ref_Date %>
  </p>
  <p>
    <%= f.label :Account_ID %><br />
    <%= f.text_field :Account_ID %>
  </p>
  <p>
    <%= f.label :Gen_Ledger_Item_Code %><br />
    <%= f.text_field :Gen_Ledger_Item_Code %>
  </p>
  <p>
    <%= f.label :Gen_Ledger_Item_Type %><br />
    <%= f.text_field :Gen_Ledger_Item_Type %>
  </p>
  <p>
    <%= f.label :Gen_Shekel_Item_Code %><br />
    <%= f.text_field :Gen_Shekel_Item_Code %>
  </p>
  <p>
    <%= f.label :Linkage_Base_Type_Code %><br />
    <%= f.text_field :Linkage_Base_Type_Code %>
  </p>
  <p>
    <%= f.label :Bal_Sheet_Major_Code %><br />
    <%= f.text_field :Bal_Sheet_Major_Code %>
  </p>
  <p>
    <%= f.label :Sec_Bal_Sheet_Item_Code %><br />
    <%= f.text_field :Sec_Bal_Sheet_Item_Code %>
  </p>
  <p>
    <%= f.label :Major_Yield_Category %><br />
    <%= f.text_field :Major_Yield_Category %>
  </p>
  <p>
    <%= f.label :Sec_Yield_Category %><br />
    <%= f.text_field :Sec_Yield_Category %>
  </p>
  <p>
    <%= f.label :Responsibility_Code %><br />
    <%= f.text_field :Responsibility_Code %>
  </p>
  <p>
    <%= f.label :Detail_Type_Code %><br />
    <%= f.text_field :Detail_Type_Code %>
  </p>
  <p>
    <%= f.label :Sec_Linkage_Base_Code %><br />
    <%= f.text_field :Sec_Linkage_Base_Code %>
  </p>
  <p>
    <%= f.label :GL_Item_Type_Code %><br />
    <%= f.text_field :GL_Item_Type_Code %>
  </p>
  <p>
    <%= f.label :Bal_Sheet_Position_Code %><br />
    <%= f.text_field :Bal_Sheet_Position_Code %>
  </p>
  <p>
    <%= f.label :Purch_Sell_Type_Code %><br />
    <%= f.text_field :Purch_Sell_Type_Code %>
  </p>
  <p>
    <%= f.label :Contract_Status_Type_Code %><br />
    <%= f.text_field :Contract_Status_Type_Code %>
  </p>
  <p>
    <%= f.label :Trans_Tenure_Left %><br />
    <%= f.text_field :Trans_Tenure_Left %>
  </p>
  <p>
    <%= f.label :Executing_Bank_Id %><br />
    <%= f.text_field :Executing_Bank_Id %>
  </p>
  <p>
    <%= f.label :Trans_Segment_Code %><br />
    <%= f.text_field :Trans_Segment_Code %>
  </p>
  <p>
    <%= f.label :Trans_Segment_Det %><br />
    <%= f.text_field :Trans_Segment_Det %>
  </p>
  <p>
    <%= f.label :Trans_Sub_Segment_code %><br />
    <%= f.text_field :Trans_Sub_Segment_code %>
  </p>
  <p>
    <%= f.label :Trans_Sub_Segment_Det %><br />
    <%= f.text_field :Trans_Sub_Segment_Det %>
  </p>
  <p>
    <%= f.label :Trans_Marking_Past_Due_code %><br />
    <%= f.text_field :Trans_Marking_Past_Due_code %>
  </p>
  <p>
    <%= f.label :Trans_Marking_Past_Due_Det %><br />
    <%= f.text_field :Trans_Marking_Past_Due_Det %>
  </p>
  <p>
    <%= f.label :Trans_Markings_Other_code %><br />
    <%= f.text_field :Trans_Markings_Other_code %>
  </p>
  <p>
    <%= f.label :Trans_Markings_Other_Det %><br />
    <%= f.text_field :Trans_Markings_Other_Det %>
  </p>
  <p>
    <%= f.label :Executing_Branch_Id %><br />
    <%= f.text_field :Executing_Branch_Id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', derivatives_path %>