<p>
  <b>Id:</b>
  <%=h @derivative.id %>
</p>

<p>
  <b>Group:</b>
  <%=h @derivative.Group_id %>
</p>

<p>
  <b>Entity:</b>
  <%=h @derivative.Entity_id %>
</p>

<p>
  <b>Source:</b>
  <%=h @derivative.Source_id %>
</p>

<p>
  <b>Downloaddate:</b>
  <%=h @derivative.DownloadDate %>
</p>

<p>
  <b>Record creation date:</b>
  <%=h @derivative.Record_Creation_Date %>
</p>

<p>
  <b>Record creator:</b>
  <%=h @derivative.Record_Creator %>
</p>

<p>
  <b>Record application:</b>
  <%=h @derivative.Record_Application %>
</p>

<p>
  <b>Value month:</b>
  <%=h @derivative.Value_Month %>
</p>

<p>
  <b>Value date:</b>
  <%=h @derivative.Value_Date %>
</p>

<p>
  <b>Executing date:</b>
  <%=h @derivative.Executing_Date %>
</p>

<p>
  <b>Type of record:</b>
  <%=h @derivative.Type_of_record %>
</p>

<p>
  <b>Bank:</b>
  <%=h @derivative.Bank_id %>
</p>

<p>
  <b>Branch:</b>
  <%=h @derivative.Branch_id %>
</p>

<p>
  <b>Trans nr:</b>
  <%=h @derivative.Trans_nr %>
</p>

<p>
  <b>Count cif:</b>
  <%=h @derivative.Count_CIF %>
</p>

<p>
  <b>Limit nr:</b>
  <%=h @derivative.Limit_nr %>
</p>

<p>
  <b>Trans code:</b>
  <%=h @derivative.Trans_Code %>
</p>

<p>
  <b>Trans text:</b>
  <%=h @derivative.Trans_Text %>
</p>

<p>
  <b>Trans ls:</b>
  <%=h @derivative.Trans_LS %>
</p>

<p>
  <b>Trans nostro:</b>
  <%=h @derivative.Trans_Nostro %>
</p>

<p>
  <b>Trans nostro tb:</b>
  <%=h @derivative.Trans_Nostro_TB %>
</p>

<p>
  <b>Trans underl id int:</b>
  <%=h @derivative.Trans_Underl_ID_int %>
</p>

<p>
  <b>Trans underl id ext:</b>
  <%=h @derivative.Trans_Underl_ID_ext %>
</p>

<p>
  <b>Trans underl id ind:</b>
  <%=h @derivative.Trans_Underl_ID_Ind %>
</p>

<p>
  <b>Trans underl id bsk:</b>
  <%=h @derivative.Trans_Underl_ID_Bsk %>
</p>

<p>
  <b>Trans underl id text:</b>
  <%=h @derivative.Trans_Underl_ID_Text %>
</p>

<p>
  <b>Trans underl categ:</b>
  <%=h @derivative.Trans_Underl_Categ %>
</p>

<p>
  <b>Trans underl def:</b>
  <%=h @derivative.Trans_Underl_Def %>
</p>

<p>
  <b>Trans underl cif:</b>
  <%=h @derivative.Trans_Underl_CIF %>
</p>

<p>
  <b>Trans underl name:</b>
  <%=h @derivative.Trans_Underl_Name %>
</p>

<p>
  <b>Trans underl domicile:</b>
  <%=h @derivative.Trans_Underl_Domicile %>
</p>

<p>
  <b>Trans underl start:</b>
  <%=h @derivative.Trans_Underl_Start %>
</p>

<p>
  <b>Trans underl end:</b>
  <%=h @derivative.Trans_Underl_End %>
</p>

<p>
  <b>Trans underl tenure:</b>
  <%=h @derivative.Trans_Underl_Tenure %>
</p>

<p>
  <b>Trans underl nom:</b>
  <%=h @derivative.Trans_Underl_Nom %>
</p>

<p>
  <b>Trans underl unit:</b>
  <%=h @derivative.Trans_Underl_Unit %>
</p>

<p>
  <b>Trans underl value con:</b>
  <%=h @derivative.Trans_Underl_Value_Con %>
</p>

<p>
  <b>Trans underl nom calc:</b>
  <%=h @derivative.Trans_Underl_Nom_Calc %>
</p>

<p>
  <b>Trans underl curr:</b>
  <%=h @derivative.Trans_Underl_Curr %>
</p>

<p>
  <b>Trans underl local curr:</b>
  <%=h @derivative.Trans_Underl_Local_Curr %>
</p>

<p>
  <b>Trans underl local nom:</b>
  <%=h @derivative.Trans_Underl_Local_Nom %>
</p>

<p>
  <b>Trans underl fx:</b>
  <%=h @derivative.Trans_Underl_FX %>
</p>

<p>
  <b>Trans underl nis:</b>
  <%=h @derivative.Trans_Underl_NIS %>
</p>

<p>
  <b>Trans value mar:</b>
  <%=h @derivative.Trans_Value_Mar %>
</p>

<p>
  <b>Trans value mod:</b>
  <%=h @derivative.Trans_Value_Mod %>
</p>

<p>
  <b>Trans curr:</b>
  <%=h @derivative.Trans_Curr %>
</p>

<p>
  <b>Trans local curr:</b>
  <%=h @derivative.Trans_Local_Curr %>
</p>

<p>
  <b>Trans value local mar:</b>
  <%=h @derivative.Trans_Value_Local_Mar %>
</p>

<p>
  <b>Trans value local mod:</b>
  <%=h @derivative.Trans_Value_Local_Mod %>
</p>

<p>
  <b>Trans fx:</b>
  <%=h @derivative.Trans_FX %>
</p>

<p>
  <b>Trans nis:</b>
  <%=h @derivative.Trans_NIS %>
</p>

<p>
  <b>Trans addon b1:</b>
  <%=h @derivative.Trans_Addon_B1 %>
</p>

<p>
  <b>Trans addon am b1:</b>
  <%=h @derivative.Trans_Addon_Am_B1 %>
</p>

<p>
  <b>Trans addon b2:</b>
  <%=h @derivative.Trans_Addon_B2 %>
</p>

<p>
  <b>Trans addon am b2:</b>
  <%=h @derivative.Trans_Addon_Am_B2 %>
</p>

<p>
  <b>Trans start:</b>
  <%=h @derivative.Trans_Start %>
</p>

<p>
  <b>Trans end:</b>
  <%=h @derivative.Trans_End %>
</p>

<p>
  <b>Trans tenure:</b>
  <%=h @derivative.Trans_Tenure %>
</p>

<p>
  <b>Trans tenure st:</b>
  <%=h @derivative.Trans_Tenure_ST %>
</p>

<p>
  <b>Trans start spec:</b>
  <%=h @derivative.Trans_Start_Spec %>
</p>

<p>
  <b>Trans end spec:</b>
  <%=h @derivative.Trans_End_Spec %>
</p>

<p>
  <b>Trans tenure spec:</b>
  <%=h @derivative.Trans_Tenure_Spec %>
</p>

<p>
  <b>Trans tenure spec st:</b>
  <%=h @derivative.Trans_Tenure_Spec_ST %>
</p>

<p>
  <b>Trans ref date:</b>
  <%=h @derivative.Trans_Ref_Date %>
</p>

<p>
  <b>Account id:</b>
  <%=h @derivative.Account_ID %>
</p>

<p>
  <b>Gen ledger item code:</b>
  <%=h @derivative.Gen_Ledger_Item_Code %>
</p>

<p>
  <b>Gen ledger item type:</b>
  <%=h @derivative.Gen_Ledger_Item_Type %>
</p>

<p>
  <b>Gen shekel item code:</b>
  <%=h @derivative.Gen_Shekel_Item_Code %>
</p>

<p>
  <b>Linkage base type code:</b>
  <%=h @derivative.Linkage_Base_Type_Code %>
</p>

<p>
  <b>Bal sheet major code:</b>
  <%=h @derivative.Bal_Sheet_Major_Code %>
</p>

<p>
  <b>Sec bal sheet item code:</b>
  <%=h @derivative.Sec_Bal_Sheet_Item_Code %>
</p>

<p>
  <b>Major yield category:</b>
  <%=h @derivative.Major_Yield_Category %>
</p>

<p>
  <b>Sec yield category:</b>
  <%=h @derivative.Sec_Yield_Category %>
</p>

<p>
  <b>Responsibility code:</b>
  <%=h @derivative.Responsibility_Code %>
</p>

<p>
  <b>Detail type code:</b>
  <%=h @derivative.Detail_Type_Code %>
</p>

<p>
  <b>Sec linkage base code:</b>
  <%=h @derivative.Sec_Linkage_Base_Code %>
</p>

<p>
  <b>Gl item type code:</b>
  <%=h @derivative.GL_Item_Type_Code %>
</p>

<p>
  <b>Bal sheet position code:</b>
  <%=h @derivative.Bal_Sheet_Position_Code %>
</p>

<p>
  <b>Purch sell type code:</b>
  <%=h @derivative.Purch_Sell_Type_Code %>
</p>

<p>
  <b>Contract status type code:</b>
  <%=h @derivative.Contract_Status_Type_Code %>
</p>

<p>
  <b>Trans tenure left:</b>
  <%=h @derivative.Trans_Tenure_Left %>
</p>

<p>
  <b>Executing bank id:</b>
  <%=h @derivative.Executing_Bank_Id %>
</p>

<p>
  <b>Trans segment code:</b>
  <%=h @derivative.Trans_Segment_Code %>
</p>

<p>
  <b>Trans segment det:</b>
  <%=h @derivative.Trans_Segment_Det %>
</p>

<p>
  <b>Trans sub segment code:</b>
  <%=h @derivative.Trans_Sub_Segment_code %>
</p>

<p>
  <b>Trans sub segment det:</b>
  <%=h @derivative.Trans_Sub_Segment_Det %>
</p>

<p>
  <b>Trans marking past due code:</b>
  <%=h @derivative.Trans_Marking_Past_Due_code %>
</p>

<p>
  <b>Trans marking past due det:</b>
  <%=h @derivative.Trans_Marking_Past_Due_Det %>
</p>

<p>
  <b>Trans markings other code:</b>
  <%=h @derivative.Trans_Markings_Other_code %>
</p>

<p>
  <b>Trans markings other det:</b>
  <%=h @derivative.Trans_Markings_Other_Det %>
</p>

<p>
  <b>Executing branch id:</b>
  <%=h @derivative.Executing_Branch_Id %>
</p>


<%= link_to 'Edit', edit_derivative_path(@derivative) %> |
<%= link_to 'Back', derivatives_path %>