<p>
  <b>Id:</b>
  <%=h @loanbook.id %>
</p>

<p>
  <b>Group:</b>
  <%=h @loanbook.Group_id %>
</p>

<p>
  <b>Entity:</b>
  <%=h @loanbook.Entity_id %>
</p>

<p>
  <b>Source:</b>
  <%=h @loanbook.Source_id %>
</p>

<p>
  <b>Downloaddate:</b>
  <%=h @loanbook.DownloadDate %>
</p>

<p>
  <b>Record creation date:</b>
  <%=h @loanbook.Record_Creation_Date %>
</p>

<p>
  <b>Record creator:</b>
  <%=h @loanbook.Record_Creator %>
</p>

<p>
  <b>Record application:</b>
  <%=h @loanbook.Record_Application %>
</p>

<p>
  <b>Value month:</b>
  <%=h @loanbook.Value_Month %>
</p>

<p>
  <b>Value date:</b>
  <%=h @loanbook.Value_Date %>
</p>

<p>
  <b>Executing date:</b>
  <%=h @loanbook.Executing_Date %>
</p>

<p>
  <b>Type of record:</b>
  <%=h @loanbook.Type_of_record %>
</p>

<p>
  <b>Bank:</b>
  <%=h @loanbook.Bank_id %>
</p>

<p>
  <b>Branch:</b>
  <%=h @loanbook.Branch_id %>
</p>

<p>
  <b>Trans nr:</b>
  <%=h @loanbook.Trans_nr %>
</p>

<p>
  <b>Count cif:</b>
  <%=h @loanbook.Count_CIF %>
</p>

<p>
  <b>Legacy system code:</b>
  <%=h @loanbook.Legacy_System_Code %>
</p>

<p>
  <b>Oncall ind:</b>
  <%=h @loanbook.OnCall_Ind %>
</p>

<p>
  <b>Legacy acc subtype code:</b>
  <%=h @loanbook.Legacy_Acc_Subtype_Code %>
</p>

<p>
  <b>Account:</b>
  <%=h @loanbook.Account_id %>
</p>

<p>
  <b>Limit nr:</b>
  <%=h @loanbook.Limit_Nr %>
</p>

<p>
  <b>Trans code:</b>
  <%=h @loanbook.Trans_Code %>
</p>

<p>
  <b>Trans text:</b>
  <%=h @loanbook.Trans_Text %>
</p>

<p>
  <b>Trans balance sheet:</b>
  <%=h @loanbook.Trans_Balance_Sheet %>
</p>

<p>
  <b>Trans repo:</b>
  <%=h @loanbook.Trans_Repo %>
</p>

<p>
  <b>Trans nom:</b>
  <%=h @loanbook.Trans_Nom %>
</p>

<p>
  <b>Trans cur:</b>
  <%=h @loanbook.Trans_Cur %>
</p>

<p>
  <b>Trans local currency:</b>
  <%=h @loanbook.Trans_Local_Currency %>
</p>

<p>
  <b>Trans local nom:</b>
  <%=h @loanbook.Trans_Local_Nom %>
</p>

<p>
  <b>Trans fx:</b>
  <%=h @loanbook.Trans_FX %>
</p>

<p>
  <b>Trans nis:</b>
  <%=h @loanbook.Trans_NIS %>
</p>

<p>
  <b>Trans ccf b1:</b>
  <%=h @loanbook.Trans_CCF_B1 %>
</p>

<p>
  <b>Trans ccf b2:</b>
  <%=h @loanbook.Trans_CCF_B2 %>
</p>

<p>
  <b>Trans credit equiv b1:</b>
  <%=h @loanbook.Trans_Credit_Equiv_B1 %>
</p>

<p>
  <b>Trans credit equiv b2:</b>
  <%=h @loanbook.Trans_Credit_Equiv_B2 %>
</p>

<p>
  <b>Trans start:</b>
  <%=h @loanbook.Trans_Start %>
</p>

<p>
  <b>Trans end:</b>
  <%=h @loanbook.Trans_End %>
</p>

<p>
  <b>Trans tenure:</b>
  <%=h @loanbook.Trans_Tenure %>
</p>

<p>
  <b>Trans tenure st:</b>
  <%=h @loanbook.Trans_Tenure_ST %>
</p>

<p>
  <b>Trans pastdue:</b>
  <%=h @loanbook.Trans_Pastdue %>
</p>

<p>
  <b>Trans pastdue date:</b>
  <%=h @loanbook.Trans_Pastdue_date %>
</p>

<p>
  <b>Trans ref date:</b>
  <%=h @loanbook.Trans_Ref_date %>
</p>

<p>
  <b>Gen ledger shekel item code:</b>
  <%=h @loanbook.Gen_Ledger_Shekel_Item_Code %>
</p>

<p>
  <b>Gen ledger item code:</b>
  <%=h @loanbook.Gen_Ledger_Item_Code %>
</p>

<p>
  <b>Gen ledger item type:</b>
  <%=h @loanbook.Gen_Ledger_Item_Type %>
</p>

<p>
  <b>Dlnqnt princpl:</b>
  <%=h @loanbook.Dlnqnt_Princpl %>
</p>

<p>
  <b>Dlnqnt interest amt:</b>
  <%=h @loanbook.Dlnqnt_Interest_Amt %>
</p>

<p>
  <b>Dlnqnt linked amt:</b>
  <%=h @loanbook.Dlnqnt_Linked_Amt %>
</p>

<p>
  <b>Dlnqnt linked interest amt:</b>
  <%=h @loanbook.Dlnqnt_Linked_Interest_Amt %>
</p>

<p>
  <b>Accrued interest amt:</b>
  <%=h @loanbook.Accrued_Interest_Amt %>
</p>

<p>
  <b>Trans pastdue amount:</b>
  <%=h @loanbook.Trans_Pastdue_amount %>
</p>

<p>
  <b>Total exposure:</b>
  <%=h @loanbook.Total_Exposure %>
</p>

<p>
  <b>Total exposure nis:</b>
  <%=h @loanbook.Total_Exposure_NIS %>
</p>

<p>
  <b>Prov amount:</b>
  <%=h @loanbook.Prov_Amount %>
</p>

<p>
  <b>Trans tenure left:</b>
  <%=h @loanbook.Trans_Tenure_Left %>
</p>

<p>
  <b>Interest account:</b>
  <%=h @loanbook.Interest_Account_id %>
</p>

<p>
  <b>Linked princpl account:</b>
  <%=h @loanbook.Linked_Princpl_Account_id %>
</p>

<p>
  <b>Linked interest account:</b>
  <%=h @loanbook.Linked_Interest_Account_id %>
</p>

<p>
  <b>Dlnqnt linked account:</b>
  <%=h @loanbook.Dlnqnt_Linked_Account_id %>
</p>

<p>
  <b>Linked princpl diff amt:</b>
  <%=h @loanbook.Linked_Princpl_Diff_Amt %>
</p>

<p>
  <b>Linked interest diff amt:</b>
  <%=h @loanbook.Linked_Interest_Diff_Amt %>
</p>

<p>
  <b>Linkage base type code:</b>
  <%=h @loanbook.Linkage_Base_Type_Code %>
</p>

<p>
  <b>Bal sheet major item code:</b>
  <%=h @loanbook.Bal_Sheet_Major_Item_Code %>
</p>

<p>
  <b>Sec bal sheet item code:</b>
  <%=h @loanbook.Sec_Bal_Sheet_Item_Code %>
</p>

<p>
  <b>Major yield category:</b>
  <%=h @loanbook.Major_Yield_Category %>
</p>

<p>
  <b>Sec yield category:</b>
  <%=h @loanbook.Sec_Yield_Category %>
</p>

<p>
  <b>Instrument responsibility code:</b>
  <%=h @loanbook.Instrument_Responsibility_Code %>
</p>

<p>
  <b>Detail type code:</b>
  <%=h @loanbook.Detail_Type_Code %>
</p>

<p>
  <b>Sec linkage base type code:</b>
  <%=h @loanbook.Sec_Linkage_Base_Type_Code %>
</p>

<p>
  <b>Gi item type code:</b>
  <%=h @loanbook.GI_Item_Type_Code %>
</p>

<p>
  <b>Balance sheet position code:</b>
  <%=h @loanbook.Balance_Sheet_Position_Code %>
</p>

<p>
  <b>Other amt:</b>
  <%=h @loanbook.Other_Amt %>
</p>

<p>
  <b>Executing bank id:</b>
  <%=h @loanbook.Executing_Bank_Id %>
</p>

<p>
  <b>Trans segment code:</b>
  <%=h @loanbook.Trans_Segment_Code %>
</p>

<p>
  <b>Trans segment det:</b>
  <%=h @loanbook.Trans_Segment_Det %>
</p>

<p>
  <b>Trans sub segment code:</b>
  <%=h @loanbook.Trans_Sub_Segment_code %>
</p>

<p>
  <b>Trans sub segment det:</b>
  <%=h @loanbook.Trans_Sub_Segment_Det %>
</p>

<p>
  <b>Trans marking past due code:</b>
  <%=h @loanbook.Trans_Marking_Past_Due_Code %>
</p>

<p>
  <b>Trans marking past due det:</b>
  <%=h @loanbook.Trans_Marking_Past_Due_Det %>
</p>

<p>
  <b>Trans markings other code:</b>
  <%=h @loanbook.Trans_Markings_Other_code %>
</p>

<p>
  <b>Trans markings other det:</b>
  <%=h @loanbook.Trans_Markings_Other_Det %>
</p>

<p>
  <b>Executing branch id:</b>
  <%=h @loanbook.Executing_Branch_Id %>
</p>


<%= link_to 'Edit', edit_loanbook_path(@loanbook) %> |
<%= link_to 'Back', loanbooks_path %>