<h1>Editing par_mapping</h1>

<% form_for(@par_mapping) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :Group %>
    <%= f.text_field :Group_Identifier %>
  </p>
  <p>
    <%= f.label :Entity %>
    <%= f.text_field :Entity_Identifier %>
  </p>

  <p>
    <%= f.label :Parameter %>
    <%= f.text_field :Information_Mapped %>
  </p>
  <p>
    <%= f.label :Source %>
    <%= f.text_field :Source_code %>
  </p>
  <p>
    <%= f.label :Dimension %> <br />
    <%= f.text_field :Dimension_Code %> <%= f.text_field :Dimension_description_1 %>
  </p>
  
  <p>
    <%= f.label :Group1 %><br />
    <%= f.text_field :Group_1 %> <%= f.text_field :Group_description_1 %>
  </p>
  
  <p>
    <%= f.label :Group2 %><br />
    <%= f.text_field :Group_2 %> <%= f.text_field :Group_description_2 %>
  </p>

  <p>
    <%= f.label :Group3 %><br />
    <%= f.text_field :Group_3 %> <%= f.text_field :Group_description_3 %>
  </p>
  
    <p>
    <%= f.label :Secured %>
    <%= f.check_box :Do_Not_Update %><br />
    <%= f.label :Validity %>
    <%= f.check_box :Record_Validity %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @par_mapping %> |
<%= link_to 'Back', par_mappings_path %>
