<p>
  <b>Id:</b>
  <%=h @provision.id %>
</p>

<p>
  <b>Group:</b>
  <%=h @provision.Group_id %>
</p>

<p>
  <b>Entity:</b>
  <%=h @provision.Entity_id %>
</p>

<p>
  <b>Source:</b>
  <%=h @provision.Source_id %>
</p>

<p>
  <b>Downloaddate:</b>
  <%=h @provision.DownloadDate %>
</p>

<p>
  <b>Record creation date:</b>
  <%=h @provision.Record_Creation_Date %>
</p>

<p>
  <b>Record creator:</b>
  <%=h @provision.Record_Creator %>
</p>

<p>
  <b>Record application:</b>
  <%=h @provision.Record_Application %>
</p>

<p>
  <b>Value month:</b>
  <%=h @provision.Value_Month %>
</p>

<p>
  <b>Value date:</b>
  <%=h @provision.Value_Date %>
</p>

<p>
  <b>Executing date:</b>
  <%=h @provision.Executing_Date %>
</p>

<p>
  <b>Type of record:</b>
  <%=h @provision.Type_of_record %>
</p>

<p>
  <b>Bank:</b>
  <%=h @provision.Bank_id %>
</p>

<p>
  <b>Branch:</b>
  <%=h @provision.Branch_id %>
</p>

<p>
  <b>Trans nr:</b>
  <%=h @provision.Trans_nr %>
</p>

<p>
  <b>Count cif:</b>
  <%=h @provision.Count_CIF %>
</p>

<p>
  <b>Prov amount:</b>
  <%=h @provision.Prov_Amount %>
</p>

<p>
  <b>Prov amount local:</b>
  <%=h @provision.Prov_Amount_Local %>
</p>

<p>
  <b>Prov amt pincpl:</b>
  <%=h @provision.Prov_Amt_Pincpl %>
</p>

<p>
  <b>Prov amt pincpl local:</b>
  <%=h @provision.Prov_Amt_Pincpl_Local %>
</p>

<p>
  <b>Prov amt interest:</b>
  <%=h @provision.Prov_Amt_Interest %>
</p>

<p>
  <b>Prov amt interest local:</b>
  <%=h @provision.Prov_Amt_Interest_Local %>
</p>

<p>
  <b>Prov curr:</b>
  <%=h @provision.Prov_Curr %>
</p>

<p>
  <b>Prov local currency:</b>
  <%=h @provision.Prov_Local_Currency %>
</p>

<p>
  <b>Prov fx:</b>
  <%=h @provision.Prov_FX %>
</p>

<p>
  <b>Prov amount nis:</b>
  <%=h @provision.Prov_Amount_NIS %>
</p>

<p>
  <b>Prov amount gross:</b>
  <%=h @provision.Prov_Amount_Gross %>
</p>

<p>
  <b>Prov collateral:</b>
  <%=h @provision.Prov_Collateral %>
</p>

<p>
  <b>Prov amount net:</b>
  <%=h @provision.Prov_Amount_Net %>
</p>

<p>
  <b>Prov date first:</b>
  <%=h @provision.Prov_Date_First %>
</p>

<p>
  <b>Prov date last:</b>
  <%=h @provision.Prov_Date_Last %>
</p>

<p>
  <b>Prov pastdue:</b>
  <%=h @provision.Prov_Pastdue %>
</p>

<p>
  <b>Prov pastdue date:</b>
  <%=h @provision.Prov_Pastdue_Date %>
</p>

<p>
  <b>Prov bad debt:</b>
  <%=h @provision.Prov_Bad_Debt %>
</p>

<p>
  <b>Prov doubtful debt:</b>
  <%=h @provision.Prov_Doubtful_Debt %>
</p>

<p>
  <b>Prov debt restr:</b>
  <%=h @provision.Prov_Debt_Restr %>
</p>

<p>
  <b>Prov debt restr wi:</b>
  <%=h @provision.Prov_Debt_Restr_WI %>
</p>

<p>
  <b>Prov special terms:</b>
  <%=h @provision.Prov_Special_Terms %>
</p>

<p>
  <b>Prov debt arrears:</b>
  <%=h @provision.Prov_Debt_Arrears %>
</p>

<p>
  <b>Prov debt temp arr:</b>
  <%=h @provision.Prov_Debt_Temp_Arr %>
</p>

<p>
  <b>Prov debt not acc inc:</b>
  <%=h @provision.Prov_Debt_Not_Acc_Inc %>
</p>

<p>
  <b>Prov debt und spec sup:</b>
  <%=h @provision.Prov_Debt_Und_Spec_Sup %>
</p>

<p>
  <b>Prov problem debt:</b>
  <%=h @provision.Prov_Problem_Debt %>
</p>

<p>
  <b>Prov ref date:</b>
  <%=h @provision.Prov_Ref_Date %>
</p>

<p>
  <b>Prov account:</b>
  <%=h @provision.Prov_Account_id %>
</p>

<p>
  <b>Prov sng:</b>
  <%=h @provision.Prov_SNG %>
</p>

<p>
  <b>Prov sng local:</b>
  <%=h @provision.Prov_SNG_Local %>
</p>

<p>
  <b>Prov sng nis:</b>
  <%=h @provision.Prov_SNG_NIS %>
</p>

<p>
  <b>Executing bank id:</b>
  <%=h @provision.Executing_Bank_Id %>
</p>

<p>
  <b>Executing branch id:</b>
  <%=h @provision.Executing_Branch_Id %>
</p>


<%= link_to 'Edit', edit_provision_path(@provision) %> |
<%= link_to 'Back', provisions_path %>