<% form_for accrual do |f| %>
  <%= f.error_messages %>

  <p>
    <label for="name">Name</label>
    <%= f.text_field :name %>
  </p>
  <div class="clear"></div>

  <p>
    <label for="type_id">Type</label>
    <%= f.collection_select(:type_id, Accrual.type_id_name_options, :first, :last, :class => 'select')  %>
  </p>
  <div class="clear"></div>

  <p>
    <label for="event_date">Event date</label>
    <%= f.date_select :event_date %>
  </p>
  <div class="clear"></div>

  <p>
    <label for="period_id">Period</label>
    <%= f.text_field :period_id , :size => 6 %>
  </p>
  <div class="clear"></div>
    
  <p>
    <%= f.label :currency %>
    <%= f.text_field :currency, :size => 3 %>
  </p>
  <div class="clear"></div>

  <p>
  <%= f.label :amount %>
  <%= f.text_field :amount, :size => 12 %>
  </p>
  <div class="clear"></div>

  <p>
    <%= f.label :debit_account %>
    <%= f.text_field :debit_account , :size => 20 %>
    <%= f.label :credit_account %>
    <%= f.text_field :credit_account , :size => 20 %>
  </p>
  <div class="clear"></div>

  <p>
    <%= f.label :comments %>
    <%= f.text_area :comments, :size => '50x5' %>
  </p>
  <div class="clear"></div>

  <br />
  <br />

  <input type="submit" style="margin: -20px 0 0 287px;" class="button" name="Update" value="Update"/>
     
<% end %>


