<h1>Listing accruals</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Currency</th>
    <th>Amount</th>
    <th>Event date</th>
    <th>Debit account</th>
    <th>Credit account</th>
  </tr>

<% @accruals.each do |accrual| %>
  <tr>     
    <td><%=h accrual.type_name %></td>
    <td><%=h accrual.name %></td>
    <td><%=h accrual.currency %></td>
    <td><%=h accrual.amount %></td>
    <td><%=h accrual.event_date %></td>
    <td><%=h accrual.debit_account %></td>
    <td><%=h accrual.credit_account %></td>
    <td><%= link_to 'Show', accrual %></td>
    <td><%= link_to 'Edit', edit_accrual_path(accrual) %></td>
    <td><%= link_to 'Destroy', accrual, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New accrual', new_accrual_path %>