<!-- This is the breadcrumb part -->
<% content_for :breadcrumb do %>

<ul id="crumbs">
 <li><a href="#">Homes</a></li>
  <li><a href="#">Olympic tables</a></li>
  <li>You are on the list of nomenclature page</li>
</ul>
<% end %>

<% content_for :article1 do %>

<h2 class="art-postheader">
  <%= I18n.t 'fdbtabs.index.header' %>
</h2>

<div class="art-postcontent">
    <!-- article-content -->

  <div id="page_wrapper">
      <div id="table_wrapper">

<br/>



    <div id="clickme">
        <a href="#" class ='a'>
            <span class="ss_sprite ss_add">
                         <img src="/images/iconmini/search-icon-blue.gif" />
             </span>
        </a>
    </div>
        
<p>  <%= I18n.t 'fdbtabs.index.sort' %> <%= order @search, :by => :TBID %> | <%= order @search, :by => :TBCODE %> | <%= order @search, :by => :TBDES1 %></p>

<br />

<div id="show_search" style="display:none">
  <div class="column span-10 append-12 prepend-1 last">
    <fieldset  class="span-8">
    	<legend>Search</legend>
		<% form_for @search do |f| %>  
 
      <div class="column span-2">
        <%= f.label :TBID_equals, "Table" %>  
      </div>
      <div class="column span-8 last">   	      		
      	        <!--%= f.text_field :LoadDate_like , :class => 'text' %-->
    	<select name="search[TBID_equals]">
		    <option value="" selected="selected">[Select a file]</option>
    		<option value="040">Currencies</option>
    		<option value="020">Countries</option>
    		<option value="035">Account Plan</option>
    		<option value="034">General Ledger</option>
    		<option value="030">Account Type</option>
    		<option value="600">Security Type</option>
    		<option value="031">Account Nature</option>
    		<option value="013">Activity Sector</option>
    		<option value="604">Security Sector</option>
    		<option value="009">Client Nature</option>
    		<option value="005">Client Type</option>
  		</select>
      </div>
 
      <div class="column span-2">
         <%= f.label :TBCODE_equals, "Code" %> 
      </div>
  
      <div class="input.span-2  last">
      	 <%= f.text_field :TBCODE_equals , :class => 'text' %>    
      </div>

      <div class="column span-2">
         <%= f.label :TBDES1_like, "Description" %> 
      </div>
      <div class="input.span-2 last">
      	 <%= f.text_field :TBDES1_like , :class => 'text' %>
      </div>


      

      <div class="column span-8 prepend-2 last">
        <%= f.submit "Apply filters" %> 
      </div>
    <% end %> 
	</fieldset>
  </div>
</div>

</div>

<br />


<table id="rounded-corner" summary="Nomenclature table from Olympic" >
  <thead>
    	<tr>
        	<th scope="col" class="rounded-company">Table</th>
            <th scope="col" class="rounded-q1">Code</th>
            <th scope="col" class="rounded-q2">Description</th>
            <th scope="col" class="rounded-q2"></th>
            <th scope="col" class="rounded-q4"></th>
        </tr>
    </thead>
    <tfoot>
    	<tr>
        	<td colspan="4" class="rounded-foot-left"><em>Use the pagination below to see more records if needed</em></td>
        	<td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>
     <tbody>
     	


<% @fdbtabs.each do |fdbtab| %>
  <tr>
    <td><%=h fdbtab.TBID %></td>
    <td><%=h fdbtab.TBCODE %></td>
    <td><%=h fdbtab.TBDES1 %></td>
    <td><%= link_to image_tag("icons/add.png") , :controller => 'fdbtabs' ,:action => "show", :id => fdbtab.id  %></td>
    <td><%= link_to image_tag("icons/application_edit.png") , edit_fdbtab_path(fdbtab)  %></td>
  </tr>
<% end %>
	</tbody>
</table>

<br />

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @fdbtabs %>
  </div>
    <%= will_paginate @fdbtabs, :container => false %>
</div>


<!--%= link_to 'New fdbtab', new_fdbtab_path %-->
<a href="/fdbtabs.csv">Export to excel</a>

</div>

    <blockquote>
        <p>
            &#8220;This is a list of available reports.&#8221;
            <br />
        </p>
    </blockquote>
  <br />

<!-- /article-content -->   

</div>


<% end %>

<!-- This is the javascript part -->
<%= render :partial => "shared/livefilter" %>



<% content_for :side do %>  <p>A simple page</p> <% end %>
