<p>
  <b>Id:</b>
  <%=h @scramble.id %>
</p>

<p>
  <b>Clear id:</b>
  <%=h @scramble.ClearID %>
</p>

<p>
  <b>Encrypted id:</b>
  <%=h @scramble.EncryptedID4 %>
</p>

<p>
  <b>Entity:</b>
  <%=h @scramble.entity_id %>
</p>

<%= link_to 'Back', scrambles_path %>