
<% content_for :breadcrumb do %>

	<ul id="crumbs">
 		<li><%= link_to  "Home" , homes_path %></li>
 		<li><a href="#">Basel II</a></li>
 		<li>You are on the list of validation page</li>
	</ul>
	
<% end %>

<a href="#" onclick="AppearEffect('show_search')" class ='a'>		
	<span class="ss_sprite ss_add">
		 		<img src="/images/iconmini/search-icon-blue.gif" />
	 </span>	
</a>

<p>Sort by <%= order @search, :by => :Errorkind %> | <%= order @search, :by => :OutputFile %> | <%= order @search, :by => :OutputField %></p>  

<br />

<div id="show_search" style="display:none"; >
  <div class="column span-10 append-12 prepend-1 last">
    <fieldset  class="span-10">
    	<legend>Search</legend>
		<% form_for @search do |f| %>  
 
      <div class="column span-2">
        <%= f.label :LoadDate_equals, "Date" %>  
      </div>
      <div class="column span-8 last">   	      		
        <!--%= f.text_field :LoadDate_like , :class => 'text' %-->
        <!--%= f.collection_select :LoadDate_equals, Validation.all, :LoadDate, :LoadDate, :include_blank => true %-->
        <select name="search[LoadDate_equals]">
		    <option value="" selected="selected">[Select a date]</option>
    		<option value="2008-12-31">2008-12-31</option>
    		<option value="2009-03-31">2009-03-31</option>
    		<option value="2009-06-30">2009-06-30</option>
    		<option value="2009-09-30">2009-09-30</option>
    		<option value="2009-12-31">2009-12-31</option>
    		<option value="2010-03-31">2010-03-31</option>
  		</select>  
      </div>
      <div class="column span-2">
         <%= f.label :OutputFile_equals, "Scope" %> 
      </div>
  
      <div class="column span-8 last">
		<select name="search[OutputFile_equals]">
		    <option value="" selected="selected">[Select a file]</option>
    		<option value="Limit">Limit</option>
    		<option value="Counterparty">Counterparty</option>
    		<option value="LoanBook">Loan Book</option>
    		<option value="OTC">OTC Derivatives</option>
    		<option value="Nostro">Nostro</option>
    		<option value="Provisions">Provisions</option>
  		</select>
    
      </div>

      <div class="column span-2">
         <%= f.label :ErrorKind_equals, "Rule" %> 
      </div>
      <div class="column span-8 last">
      	 <!--%= f.text_field :ErrorKind_like , :class => 'text' %-->
      	 <select name="search[ErrorKind_equals]">
      	  	<option value="" selected="selected">[Select a rule]</option>
      	  <optgroup label="Counterparty">
      	  	<option label="Rule 101">Rule 101</option>	
      	 	<option label="Rule 102">Rule 102</option>
      	 	<option label="Rule 103">Rule 103</option>
      	 	<option label="Rule 104">Rule 104</option>
      	 	<option label="Rule 105">Rule 105</option>
      	 	<option label="Rule 106">Rule 106</option>
      	 	<option label="Rule 107">Rule 107</option>
      	 	<option label="Rule 108">Rule 108</option>
      	 	<option label="Rule 109">Rule 109</option>
      	 	<option label="Rule 110">Rule 110</option>
      	 	<option label="Rule 111">Rule 111</option>
		  <optgroup label="Limit">
		  	<option label="Rule 200">Rule 200</option>
      	  	<option label="Rule 201">Rule 201</option>	
      	 	<option label="Rule 202">Rule 202</option>
      	 	<option label="Rule 203">Rule 203</option>
      	 	<option label="Rule 204">Rule 204</option>
      	 	<option label="Rule 205">Rule 205</option>
      	 	<option label="Rule 206">Rule 206</option>
      	 	<option label="Rule 207">Rule 207</option>
      	 	<option label="Rule 208">Rule 208</option>
      	 	<option label="Rule 209">Rule 209</option>
      	 	<option label="Rule 210">Rule 210</option>
      	 	<option label="Rule 211">Rule 211</option>
      	  <optgroup label="Nostro">
		  	<option label="Rule 300">Rule 300</option>
      	  	<option label="Rule 301">Rule 301</option>	
      	 	<option label="Rule 302">Rule 302</option>
      	 	<option label="Rule 303">Rule 303</option>
      	 	<option label="Rule 304">Rule 304</option>
      	 	<option label="Rule 305">Rule 305</option>
      	 	<option label="Rule 306">Rule 306</option>
      	 	<option label="Rule 307">Rule 307</option>
      	 	<option label="Rule 308">Rule 308</option>
      	 	<option label="Rule 309">Rule 309</option>
      	 	<option label="Rule 310">Rule 310</option>
      	 	<option label="Rule 311">Rule 311</option>
      	 <optgroup label="Loan Book">
		  	<option label="Rule 400">Rule 400</option>
      	  	<option label="Rule 401">Rule 401</option>	
      	 	<option label="Rule 402">Rule 402</option>
      	 	<option label="Rule 403">Rule 403</option>
      	 	<option label="Rule 404">Rule 404</option>
      	 	<option label="Rule 405">Rule 405</option>
      	 	<option label="Rule 406">Rule 406</option>
      	 	<option label="Rule 407">Rule 407</option>
      	 	<option label="Rule 408">Rule 408</option>
      	 	<option label="Rule 409">Rule 409</option>
      	 	<option label="Rule 410">Rule 410</option>
      	 	<option label="Rule 411">Rule 411</option>
      	  <optgroup label="OTC Derivatives">
		  	<option label="Rule 500">Rule 500</option>
      	  	<option label="Rule 501">Rule 501</option>	
      	 	<option label="Rule 502">Rule 502</option>
      	 	<option label="Rule 503">Rule 503</option>
      	 	<option label="Rule 504">Rule 504</option>
      	 	<option label="Rule 505">Rule 505</option>
      	 	<option label="Rule 506">Rule 506</option>
      	 	<option label="Rule 507">Rule 507</option>
      	 	<option label="Rule 508">Rule 508</option>
      	 	<option label="Rule 509">Rule 509</option>
      	 	<option label="Rule 510">Rule 510</option>
      	 	<option label="Rule 511">Rule 511</option>
      	  <optgroup label="Provisions">
		  	<option label="Rule 600">Rule 600</option>
      	  	<option label="Rule 601">Rule 601</option>	
      	 	<option label="Rule 602">Rule 602</option>
      	 	<option label="Rule 603">Rule 603</option>
      	 	<option label="Rule 604">Rule 604</option>
      	 	<option label="Rule 605">Rule 605</option>
      	 	<option label="Rule 606">Rule 606</option>
      	 	<option label="Rule 607">Rule 607</option>
      	 	<option label="Rule 608">Rule 608</option>
      	 	<option label="Rule 609">Rule 609</option>
      	 	<option label="Rule 610">Rule 610</option>
      	 	<option label="Rule 611">Rule 611</option>
      	 </select>
      </div>
      <div class="column span-2">
         <%= f.label :ErrorType_like, "Type" %> 
      </div>
      <div class="column span-1 last">
      	 <%= f.text_field :ErrorType_like , :class => 'text' , :size => 10 %>
      </div>

      <div class="column span-8 prepend-2 last">
        <%= f.submit "Apply filters", :class => "button" %> 
      </div>
    <% end %> 
	</fieldset>
  </div>
</div>



<span class="myapptitle">Listing validations errors</span>

<table id="rounded-corner" summary="Validations errors for Basel II" >
  <thead>
    	<tr>
        	<th scope="col" class="rounded-company"><%= order @search, :by => :Errorkind %></th>
            <th scope="col" class="rounded-q1"><%= order @search, :by => :OutputFile %></th>
            <th scope="col" class="rounded-q2"><%= order @search, :by => :OutputField %></th>
            <th scope="col" class="rounded-q2">Source</th>
            <th scope="col" class="rounded-q2">Destination</th>
            <th scope="col" class="rounded-q2">Client</th>
            <th scope="col" class="rounded-q2">Key</th>
            <th scope="col" class="rounded-q2">Type</th>
            <th scope="col" class="rounded-q2"></th>
            <th scope="col" class="rounded-q4"></th>
        </tr>
    </thead>
    <tfoot>
    	<tr>
        	<td colspan="9" class="rounded-foot-left"><em>Use the pagination below to see more records if needed</em></td>
        	<td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>
	

	
    <tbody>
<% @validations.each do |validation| %>
  <tr>
    <td><%=h validation.validationrule.ErrorKind %></td>
    <td><%=h validation.OutputFile %></td>
    <td><%=h validation.OutputField %></td>
    <td><%=h validation.Source %></td>
    <td><%=h validation.Destination %></td>
    <td><%=h validation.Client_id %></td>
    <td><%=h validation.Key_id %></td>
    <td><%=h validation.ErrorType %></td>
    <td><%= link_to image_tag("icons/add.png") , :controller => 'validations' ,:action => "show", :id => validation.id  %></td>
    <td>	
		   		<% case  validation.OutputFile 
		   			when "LIMIT" %>
		     	 		<%= link_to image_tag("icons/application_edit.png") , :controller => 'limits' ,:action => "show", :id => validation.Original_id %>
		   			<% when "COUNTERPART" %>
		      			<%= link_to image_tag("icons/application_edit.png") , :controller => 'counterparties' ,:action => "show", :id => validation.Original_id %>
	   				<% when "PROVISIONS" %>
		      			<%= link_to image_tag("icons/application_edit.png") , :controller => 'provisions' ,:action => "show", :id => validation.Original_id %>
	   				<% when "NOSTRO" %>
		      			<%= link_to image_tag("icons/application_edit.png") , :controller => 'nostros' ,:action => "show", :id => validation.Original_id %>
		      		<% when "OTC" %>
		      			<%= link_to image_tag("icons/application_edit.png") , :controller => 'derivatives' ,:action => "show", :id => validation.Original_id %>
		      		<% when "LOANBOOK" %>
    					<%= link_to image_tag("icons/application_edit.png") , :controller => 'loanbooks' ,:action => "show", :id => validation.Original_id %>
	   				<% else %>
		   				<%=h "-" %>
		        <% end %>
		</td>
		 	
		
  
  </tr>
<% end %>
	</tbody>
</table>

<br />

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @validations %>
  </div-->
    <%= will_paginate @validations, :container => false %>
</div>

<%= link_to 'New validation', new_validation_path %>