<h1>Listing report_lines</h1>

<table>
  <tr>
    <th>Line</th>
    <th>Line caption</th>
    <th>Comments</th>
    <th>Order</th>
    <th>Line morphing</th>
    <th>Report</th>
            
  </tr>

<% @report_lines.each do |report_line| %>
  <tr>
    <td><%= link_to report_line.line_id, report_line %></td>
    <td><%=h report_line.line_caption %></td>
    <td><%=h report_line.comments %></td>
    <td><%=h report_line.position %></td>
    <td><%=h report_line.line_morphing %></td>
    <td><%=h report_line.report.name %></td>

    <td><%= link_to 'Edit', edit_report_line_path(report_line) %></td>
    <td><%= link_to 'Destroy', report_line, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New report_line', new_report_line_path %>