<!-- This is the breadcrumb part -->

<ul id="crumbs">
 <li><a href="#">Homes</a></li>
 <li><%= link_to  "Report categories" , report_categories_path %></li>
 <li><%= link_to  "Reports" , reports_path %></li>
 <li><%= link_to  "Report lines" , report_lines_path %></li>
 <li>You are on the list of report lines page</li>
</ul>

<br/>


<!-- This is the list part -->

<div id="page_wrapper">
		<div id="table_wrapper">
          <h3>Listing report lines</h3>

          <!-- This is the live filter input field part -->

          <input class="filter" name="livefilter" type="text" value="" />



<br/>

<table class="live_filter">
  <tr>
    <th>Line id</th>
    <th>Name</th>
    <th>Comments</th>
    <th>Order</th>
    <th>Line morphing</th>
    <th>Report</th>
            
  </tr>

<% @report_lines.each do |report_line| %>
  <tr>
    <td><%= link_to report_line.line_id, report_line %></td>
    <td><%=h report_line.line_caption %></td>
    <td><%=h report_line.comments %></td>
    <td align='center'><%=h report_line.position %></td>
    <td align='right'><%=h report_line.line_morphing %></td>
    <td><%=h report_line.report.name %></td>

    <td><%= link_to 'Edit', edit_report_line_path(report_line) %></td>
    <td><%= link_to 'Destroy', report_line, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New report_line', new_report_line_path %>

    </div>
</div>


<!-- This is the javascript part -->

<%= render :partial => "shared/livefilter" %>


