<span class="myapptitle">Listing commands</span>

<table>
  <tr>
    <th>Execute</th>
  </tr>

<% @commands.each do |command| %>
  <tr>
    <td><%=h command.execute %></td>
    <td><%= link_to 'Show', command %></td>
    <td><%= link_to 'Edit', edit_command_path(command) %></td>
    <td><%= link_to 'Destroy', command, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New command', new_command_path %>