
<% content_for :article1 do %>

<ul id="crumbs">
 <li><a href="#">Homes</a></li>
 <li><%= link_to  "Report categories" , report_categories_path %></li>
 <li><%= link_to  "Reports" , reports_path %></li>
 <li>You are looking at a specific report</li>
</ul>
<% end %>

<br/>

  <h3 align='center'>
  <%=h @report.name %>
  </h3>


<p>
  <b>Reference:</b>
  <%=h @report.reference %>
  <%=h @report.id %>
</p>

<p>
  <b>Report category:</b>
  <%=h @report.report_category.name %>
</p>

<p>
  <span style="font-weight: small;">
    Comments: <%=h @report.comments %>
  </span>
</p>

<p>
  <b>Order:</b>
  <%=h @report.position %>
</p>

<%= link_to 'Back', reports_path %>
<hr />

 <h4>This report includes the following lines:</h4>

   <table>
   <tr>
    <th align='center'> Reference </th>
    <th> </th>
    <th align='left'> Name </th>
     <th> Position </th>
     <th> Comments </th>
   </tr>

   <% for report_line in @report.report_lines %>

 <tr>
  <td><%= link_to report_line.line_id, report_line %></td>
  <td> </td>
  <td> </td>
  <td><%= report_line.line_caption %> </td>
   <td align='center'><%= report_line.position %> </td>
  <td><%= report_line.comments %> </td>
  <td><%= link_to 'Edit', edit_report_line_path(report_line) %></td>

  <!--Created on report.created_at.strftime("%e %B, %Y") %-->
 </tr>
   <% end %>
   </table>


   <br />
   <br />


<hr />


  <%= form_tag :action => "report_line", :id => @report %>
  <%= label "report_line", "Line Id" %><br />
  <%= text_field "report_line", "line_id" %> <br />
  <%= label "report_line", "Name" %><br />
  <%= text_field "report_line", "line_caption" %><br />
  <%= label "report_line", "comments" %><br />
  <%= text_area "report_line", "comments", "rows" => 3, "cols" => 30 %><br />
  <%= label "report_line", "position" %><br />
  <%= text_field "report_line", "position" %><br />
  <br/>
  <%= submit_tag "Add a new line to this report" %>
  </form>
