<!-- This is the breadcrumb part -->

<ul id="crumbs">
 <li><a href="#">Homes</a></li>
 <li><%= link_to  "Report categories" , report_categories_path %></li>
 <li><%= link_to  "Reports" , reports_path %></li>
 <li>You are editing a report</li>
</ul>

<br/>


<!-- This is the edit part -->

<h1>Editing report</h1>

<%= render :partial => 'form' %>

<%= link_to 'Show', @report %> |
<%= link_to 'Back', reports_path %>
