  <h3 align='center' color='red'>
  <%=h @report.name %>
  </h3>


<p>
  <b>Reference:</b>
  <%=h @report.reference %>
</p>

<p>
  <b>Report category:</b>
  <%=h @report.report_category.name %>
</p>

<p>
  <span style="font-weight: bold;">
    Comments: <%=h @report.comments %>
  </span>
</p>

<p>
  <b>Order:</b>
  <%=h @report.position %>
</p>

<%= link_to 'Back', reports_path %>
<hr />

 <h4>this report includes the following lines:</h4>

   <table>
   <tr>
    <th> position </th>
    <th align='center'> Reference </th>
    <th> </th>
    <th align='left'> Name </th>
   </tr>

   <% for report_line in @report.report_lines %>

 <tr>
  <td align='center'><%= report_line.position %> </td>
  <td> <%= report_line.line_id %> </td>
  <td> ................... </td>
  <td><%= report_line.line_caption %> </td>
  <td><%= link_to 'Show', report_line %></td>
  <td><%= link_to 'Edit', edit_report_line_path(report_line) %></td>   

  <!--Created on report.created_at.strftime("%e %B, %Y") %-->
 </tr>
   <% end %>
   </table>


   <br />
   <br />


<hr />
  

  <%= form_tag :action => "reportline", :id => @report %>
  <%= label "report_line", "Line Id" %>
  <%= text_field "report_line", "line_id" %> <br />
  <%= label "report_line", "Caption" %>
  <%= text_field "report_line", "line_caption" %><br />
  <%= submit_tag "Add a new line to this report" %>
   </form>


